:root {
  /* Colors and Styles (Default) */
  --backGroundDarkColor: rgb(23, 23, 22);
  --backGroundColor: rgb(44, 44, 41);
  --whiteTextColor: rgb(240, 240, 232);
  --requiredBlank: rgba(171, 250, 164, 0.991);
  /* Colors and Styles (Default) */
  /* Space (Default) */
  /* Space (Default) */
  --100pxSpace: 100px;
  --50pxSpace: 50px;
  --30pxSpace: 30px;
  --20pxSpace: 20px;
  /* Font Size (Default) */
  --3d125rem: 3.125rem;
  --2d275rem: 2.375rem;
  --1d875rem: 1.875rem;
  --1d375rem: 1.375rem;
  --1d25rem: 1.25rem;
  --1d125rem: 1.125rem; 
  --1d05rem: 1.05rem; 
  --1rem: 1rem;
  --0d94rem: 0.94rem;
  --0d875rem: 0.875rem;
  --0d75rem: 0.75rem;
  --0d625rem: 0.625rem; 
}

.ProductsRelated_Container {
  width: 100%;
  background-color: var(--backGroundDarkColor);

  .ProductsRelated_Container_Box{
    padding: 15px;
    padding-top: 20px;
    color: white;

    .ProductsRelated_Container_Box_Title {
      font-size: var(--1d25rem);
      margin-bottom: 30px;

    }

    .ProductsRelated_Container_Box_ProductsRelated {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      margin-bottom: 40px;

      .ProductsRelated_Container_Box_ProductsRelated_Item {
        width: 100%;
        display: flex;
        height: 80px;
        overflow: hidden;
        position: relative;
        background: black;
        // border: 2px solid orange;

        .ProductsRelated_Container_Box_ProductsRelated_Item_Part_01 {
          flex: 1;

          .ProductsRelated_Container_Box_ProductsRelated_Item_ImageBox {
            width: 100%;
            overflow: hidden;
  
    
            .ProductsRelated_Container_Box_ProductsRelated_Item_ImageBox_Image {
              width: 100%;
              object-fit: cover;
              scale: 1;
    
            }
          }
          .ProductsRelated_Container_Box_ProductsRelated_Item_ImageBox1 {
            width: 55px;
            height: 20px;
            position: absolute;
            top: 8px;
            right: 8px;
            // border: 1px solid red;
  
    
            .ProductsRelated_Container_Box_ProductsRelated_Item_ImageBox1_Image {
              display: flex;
              width: 100%;
              object-fit: cover;
            }
          }
          
        }
        .ProductsRelated_Container_Box_ProductsRelated_Item_Part_02 {
          flex: 4;
          display: flex;
          flex-direction: column;
          color: black;
          background: rgb(254, 255, 223);

          .ProductsRelated_Container_Box_ProductsRelated_Item_Part_02_Title01 {
            flex: 1;
          }

          .ProductsRelated_Container_Box_ProductsRelated_Item_Part_02_Title02 {
            flex: 1;
            font-size: 13px;
            text-align: left;
            padding-left: 10px;
            padding-top: 5px;
          }


          .ProductsRelated_Container_Box_ProductsRelated_Item_Part_02_Title03 {
            flex: 1;
            width: 100%;
            font-size: var(--0d625rem);
            text-align: left;
            font-weight: 700;
            padding-top: 5px;
            padding-left: 10px;
            padding-bottom: 0px;
          }

        }
      }
    }
  }
}
