@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  /* Colors and Styles (Default) */
  --backGroundDarkColor: rgb(23, 23, 22);
  --backGroundColor: rgb(44, 44, 41);
  --backGroundWhiteColor: rgb(255, 255, 255);
  --whiteTextColor: rgb(240, 240, 232);
  --blackTextColor: rgb(0, 0, 0);
  --requiredBlank: rgba(171, 250, 164, 0.991);
  /* Colors and Styles (Default) */
  /* Space (Default) */
  --100pxSpace: 100px;
  --50pxSpace: 50px;
  --30pxSpace: 30px;
  --20pxSpace: 20px;
  /* Font Size (Default) */
  --XXXBigFontSize: 3.125rem;
  --XBigFontSize: 1.375rem;
  --XXXLargeFontSize: 1.25rem;
  --XXLargeFontSize: 1.125rem;
  --XLargeFontSize: 1.06rem;
  --normalFontSize: 1rem;
  /* Font Size (Default) */
  --3d125rem: 3.125rem;
  --1d375rem: 1.375rem;
  --1d25rem: 1.25rem;
  --1d125rem: 1.125rem;
  --1d05rem: 1.05rem;
  --1rem: 1rem;
  --0d94rem: 0.94rem;
  --0d875rem: 0.875rem;
  --0d75rem: 0.75rem;
  --0d625rem: 0.625rem;
}

.RegisterForm_Container_Box_Form {
  width: 100%;
  color: var(--blackTextColor);
  padding: 15px;
  padding-bottom: 50px;
}
.RegisterForm_Container_Box_Form .ProductName_Container {
  width: 100%;
  margin-bottom: var(--50pxSpace);
}
.RegisterForm_Container_Box_Form .ProductName_Container .ProductName_Container_Box {
  width: 100%;
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .ProductName_Container .ProductName_Container_Box .ProductName_Container_Box_P {
  margin-bottom: var(--10pxSpace);
}
.RegisterForm_Container_Box_Form .ProductName_Container .ProductName_Container_Box .ProductName_Container_Box_Input {
  border: none;
  padding: 8px;
  width: 100%;
  height: 40px;
  background: var(--requiredBlank);
}
.RegisterForm_Container_Box_Form .MainProductImage_Container {
  width: 100%;
  margin-bottom: var(--50pxSpace);
}
.RegisterForm_Container_Box_Form .MainProductImage_Container .MainProductImage_Container_Box {
  width: 100%;
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .MainProductImage_Container .MainProductImage_Container_Box .MainProductImage_Container_Box_Asking {
  width: 100%;
  margin-bottom: var(--10pxSpace);
}
.RegisterForm_Container_Box_Form .MainProductImage_Container .MainProductImage_Container_Box .MainProductImage_Container_Box_Register {
  width: 100%;
  overflow: hidden;
}
.RegisterForm_Container_Box_Form .MainProductImage_Container .MainProductImage_Container_Box .MainProductImage_Container_Box_Register .MainProductImage_Container_Box_Register_Image {
  object-fit: cover;
}
.RegisterForm_Container_Box_Form .MainProductImage_Container .MainProductImage_Container_Box .MainProductImage_Container_Box_Register .MainProductImage_Container_Box_Register_Input {
  width: 100%;
  border: none;
}
@media screen and (max-width: 500px) {
  .RegisterForm_Container_Box_Form .MainProductImage_Container_Box_Register_Image {
    width: 100%;
    margin-bottom: var(--SmallSpace);
    object-fit: cover;
  }
}
.RegisterForm_Container_Box_Form .ProductTitle_Container {
  width: 100%;
  margin-bottom: var(--50pxSpace);
}
.RegisterForm_Container_Box_Form .ProductTitle_Container .ProductTitle_Container_Box {
  width: 100%;
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .ProductTitle_Container .ProductTitle_Container_Box .ProductTitle_Container_Box_P {
  margin-bottom: var(--10pxSpace);
}
.RegisterForm_Container_Box_Form .ProductTitle_Container .ProductTitle_Container_Box .ProductTitle_Container_Box_Label {
  color: var(--whiteTextColor);
}
.RegisterForm_Container_Box_Form .ProductTitle_Container .ProductTitle_Container_Box .ProductTitle_Container_Box_Input {
  border: none;
  padding: 8px;
  max-width: 500px;
  width: 100%;
  height: 40px;
  background: var(--requiredBlank);
}
.RegisterForm_Container_Box_Form .ProductType_Container {
  width: 100%;
  margin-bottom: var(--50pxSpace);
}
.RegisterForm_Container_Box_Form .ProductType_Container .ProductType_Container_Box {
  width: 100%;
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .ProductType_Container .ProductType_Container_Box .ProductType_Container_Box_P {
  margin-bottom: 10px;
}
.RegisterForm_Container_Box_Form .ProductType_Container .ProductType_Container_Box .ProductType_Container_Box_Select {
  border: none;
  padding: 8px;
  width: 100%;
  height: 40px;
  background: var(--requiredBlank);
}
.RegisterForm_Container_Box_Form .ProductType_Container .ProductType_Container_Box .ProductType_Container_Box_Select .ProductType_Container_Box_Option {
  color: var(--blackTextColor);
}
.RegisterForm_Container_Box_Form .ModalityProducts_Container {
  width: 100%;
  margin-bottom: var(--50pxSpace);
}
.RegisterForm_Container_Box_Form .ModalityProducts_Container .ModalityProducts_Container_Box {
  width: 100%;
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .ModalityProducts_Container .ModalityProducts_Container_Box .ModalityProducts_Container_Box_P {
  margin-bottom: var(--10pxSpace);
}
.RegisterForm_Container_Box_Form .ModalityProducts_Container .ModalityProducts_Container_Box .ModalityProducts_Container_Box_Small {
  display: flex;
  margin-bottom: 5px;
}
.RegisterForm_Container_Box_Form .ModalityProducts_Container .ModalityProducts_Container_Box .ModalityProducts_Container_Box_Small .ModalityProducts_Container_Box_Small_Input {
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .ModalityProducts_Container .ModalityProducts_Container_Box .ModalityProducts_Container_Box_Small .ModalityProducts_Container_Box_Small_Label {
  margin-left: 10px;
}
.RegisterForm_Container_Box_Form .ApplicationFilterProducts_Container {
  width: 100%;
  margin-bottom: var(--50pxSpace);
}
.RegisterForm_Container_Box_Form .ApplicationFilterProducts_Container .ApplicationFilterProducts_Container_Box {
  width: 100%;
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .ApplicationFilterProducts_Container .ApplicationFilterProducts_Container_Box .ApplicationFilterProducts_Container_Box_P {
  margin-bottom: var(--10pxSpace);
}
.RegisterForm_Container_Box_Form .ApplicationFilterProducts_Container .ApplicationFilterProducts_Container_Box .ApplicationFilterProducts_Container_Box_Small {
  display: flex;
  margin-bottom: 5px;
}
.RegisterForm_Container_Box_Form .ApplicationFilterProducts_Container .ApplicationFilterProducts_Container_Box .ApplicationFilterProducts_Container_Box_Small .ApplicationFilterProducts_Container_Box_Small_Input {
  padding: 5px;
}
.RegisterForm_Container_Box_Form .ApplicationFilterProducts_Container .ApplicationFilterProducts_Container_Box .ApplicationFilterProducts_Container_Box_Small .ApplicationFilterProducts_Container_Box_Small_Label {
  margin-left: 10px;
}
.RegisterForm_Container_Box_Form .ApplicationCellLine_Container {
  width: 100%;
  margin-bottom: var(--50pxSpace);
}
.RegisterForm_Container_Box_Form .ApplicationCellLine_Container .ApplicationCellLine_Container_Box {
  width: 100%;
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .ApplicationCellLine_Container .ApplicationCellLine_Container_Box .ApplicationCellLine_Container_Box_P {
  margin-bottom: var(--10pxSpace);
}
.RegisterForm_Container_Box_Form .ApplicationCellLine_Container .ApplicationCellLine_Container_Box .ApplicationCellLine_Container_Box_Small {
  display: flex;
  margin-bottom: 5px;
}
.RegisterForm_Container_Box_Form .ApplicationCellLine_Container .ApplicationCellLine_Container_Box .ApplicationCellLine_Container_Box_Small .ApplicationCellLine_Container_Box_Small_Input {
  padding: 5px;
}
.RegisterForm_Container_Box_Form .ApplicationCellLine_Container .ApplicationCellLine_Container_Box .ApplicationCellLine_Container_Box_Small .ApplicationCellLine_Container_Box_Small_Label {
  margin-left: 5px;
}
.RegisterForm_Container_Box_Form .Service_Container {
  width: 100%;
  margin-bottom: var(--50pxSpace);
}
.RegisterForm_Container_Box_Form .Service_Container .Service_Container_Box {
  width: 100%;
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .Service_Container .Service_Container_Box .Service_Container_Box_P {
  margin-bottom: 10px;
}
.RegisterForm_Container_Box_Form .Service_Container .Service_Container_Box .Service_Container_Box_Select {
  border: none;
  padding: 8px;
  width: 100%;
  height: 40px;
  background: var(--requiredBlank);
}
.RegisterForm_Container_Box_Form .Service_Container .Service_Container_Box .Service_Container_Box_Select .Service_Container_Box_Option {
  color: var(--blackTextColor);
}
.RegisterForm_Container_Box_Form .Manufacturer_Container {
  width: 100%;
  margin-bottom: var(--50pxSpace);
}
.RegisterForm_Container_Box_Form .Manufacturer_Container .Manufacturer_Container_Box {
  width: 100%;
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .Manufacturer_Container .Manufacturer_Container_Box .Manufacturer_Container_Box_P {
  margin-bottom: var(--10pxSpace);
}
.RegisterForm_Container_Box_Form .Manufacturer_Container .Manufacturer_Container_Box .Manufacturer_Container_Box_Select {
  border: none;
  padding: 8px;
  width: 100%;
  height: 40px;
  background: var(--requiredBlank);
}
.RegisterForm_Container_Box_Form .Manufacturer_Container .Manufacturer_Container_Box .Manufacturer_Container_Box_Select .Manufacturer_Container_Box_Select_Option {
  color: var(--blackTextColor);
}
.RegisterForm_Container_Box_Form .Description01_Container {
  width: 100%;
  margin-bottom: var(--50pxSpace);
}
.RegisterForm_Container_Box_Form .Description01_Container .Description01_Container_Box {
  width: 100%;
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .Description01_Container .Description01_Container_Box .Description01_Container_Box_P {
  margin-bottom: var(--10pxSpace);
}
.RegisterForm_Container_Box_Form .Description01_Container .Description01_Container_Box .Description01_Container_Box_P_Small .Description01_Container_Box_P_Small_P {
  margin-bottom: var(--10pxSpace);
}
.RegisterForm_Container_Box_Form .Description01_Container .Description01_Container_Box .Description01_Container_Box_P_Small .Description01_Container_Box_P_Small_Image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}
.RegisterForm_Container_Box_Form .Description01_Container .Description01_Container_Box .Description01_Container_Box_P_Small .Description01_Container_Box_P_Small_Input1 {
  width: 100%;
  border: none;
  padding: 8px;
  margin-bottom: 20px;
}
.RegisterForm_Container_Box_Form .Description01_Container .Description01_Container_Box .Description01_Container_Box_P_Small .Description01_Container_Box_P_Small_Input2 {
  width: 100%;
  height: 40px;
  padding: 8px;
  background: lightgray;
  border: none;
}
.RegisterForm_Container_Box_Form .Description01_Container .Description01_Container_Box .Description01_Container_Box_P_Small .Description01_Container_Box_P_Small_Textarea {
  width: 100%;
  height: 150px;
  border: 1px solid darkgray;
  padding: 8px;
}
@media screen and (max-width: 500px) {
  .RegisterForm_Container_Box_Form .Description01_Container_Box_P_Small_Image {
    width: 100%;
    margin-bottom: var(--SmallSpace);
    object-fit: cover;
  }
}
.RegisterForm_Container_Box_Form .Description02_Container {
  width: 100%;
  margin-bottom: var(--50pxSpace);
}
.RegisterForm_Container_Box_Form .Description02_Container .Description02_Container_Box {
  width: 100%;
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .Description02_Container .Description02_Container_Box .Description02_Container_Box_P {
  margin-bottom: 10px;
}
.RegisterForm_Container_Box_Form .Description02_Container .Description02_Container_Box .Description02_Container_Box_P_Small .Description02_Container_Box_P_Small_P {
  color: var(--whiteTextColor);
  margin-bottom: 10px;
}
.RegisterForm_Container_Box_Form .Description02_Container .Description02_Container_Box .Description02_Container_Box_P_Small .Description02_Container_Box_P_Small_Image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}
.RegisterForm_Container_Box_Form .Description02_Container .Description02_Container_Box .Description02_Container_Box_P_Small .Description02_Container_Box_P_Small_Input1 {
  width: 100%;
  border: none;
  padding: 8px;
  margin-bottom: 30px;
}
.RegisterForm_Container_Box_Form .Description02_Container .Description02_Container_Box .Description02_Container_Box_P_Small .Description02_Container_Box_P_Small_Input2 {
  width: 100%;
  height: 40px;
  padding: 8px;
  background: lightgray;
  border: none;
}
.RegisterForm_Container_Box_Form .Description02_Container .Description02_Container_Box .Description02_Container_Box_P_Small .Description02_Container_Box_P_Small_Textarea {
  width: 100%;
  height: 150px;
  border: 1px solid darkgray;
  padding: 8px;
}
@media screen and (max-width: 500px) {
  .RegisterForm_Container_Box_Form .Description02_Container_Box_P_Small_Image {
    width: 100%;
    margin-bottom: var(--SmallSpace);
    object-fit: cover;
  }
}
.RegisterForm_Container_Box_Form .Description03_Container {
  width: 100%;
  margin-bottom: var(--50pxSpace);
}
.RegisterForm_Container_Box_Form .Description03_Container .Description03_Container_Box {
  width: 100%;
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .Description03_Container .Description03_Container_Box .Description03_Container_Box_P {
  margin-bottom: 10px;
}
.RegisterForm_Container_Box_Form .Description03_Container .Description03_Container_Box .Description03_Container_Box_P_Small .Description03_Container_Box_P_Small_P {
  margin-bottom: 10px;
}
.RegisterForm_Container_Box_Form .Description03_Container .Description03_Container_Box .Description03_Container_Box_P_Small .Description03_Container_Box_P_Small_Image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}
.RegisterForm_Container_Box_Form .Description03_Container .Description03_Container_Box .Description03_Container_Box_P_Small .Description03_Container_Box_P_Small_Input1 {
  width: 100%;
  border: none;
  padding: 8px;
  margin-bottom: 30px;
}
.RegisterForm_Container_Box_Form .Description03_Container .Description03_Container_Box .Description03_Container_Box_P_Small .Description03_Container_Box_P_Small_Input2 {
  width: 100%;
  height: 40px;
  padding: 8px;
  background: lightgray;
  border: none;
}
.RegisterForm_Container_Box_Form .Description03_Container .Description03_Container_Box .Description03_Container_Box_P_Small .Description03_Container_Box_P_Small_Textarea {
  width: 100%;
  height: 150px;
  border: 1px solid darkgray;
  padding: 8px;
}
@media screen and (max-width: 500px) {
  .RegisterForm_Container_Box_Form .Description03_Container_Box_P_Small_Image {
    width: 100%;
    margin-bottom: var(--SmallSpace);
    object-fit: cover;
  }
}
.RegisterForm_Container_Box_Form .Description04_Container {
  width: 100%;
  margin-bottom: var(--50pxSpace);
}
.RegisterForm_Container_Box_Form .Description04_Container .Description04_Container_Box {
  width: 100%;
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .Description04_Container .Description04_Container_Box .Description04_Container_Box_P {
  margin-bottom: 10px;
}
.RegisterForm_Container_Box_Form .Description04_Container .Description04_Container_Box .Description04_Container_Box_P_Small .Description04_Container_Box_P_Small_P {
  margin-bottom: 10px;
}
.RegisterForm_Container_Box_Form .Description04_Container .Description04_Container_Box .Description04_Container_Box_P_Small .Description04_Container_Box_P_Small_Image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}
.RegisterForm_Container_Box_Form .Description04_Container .Description04_Container_Box .Description04_Container_Box_P_Small .Description04_Container_Box_P_Small_Input1 {
  width: 100%;
  border: none;
  padding: 8px;
  margin-bottom: 30px;
}
.RegisterForm_Container_Box_Form .Description04_Container .Description04_Container_Box .Description04_Container_Box_P_Small .Description04_Container_Box_P_Small_Input2 {
  width: 100%;
  height: 40px;
  border: none;
  padding: 8px;
  background: lightgray;
}
.RegisterForm_Container_Box_Form .Description04_Container .Description04_Container_Box .Description04_Container_Box_P_Small .Description04_Container_Box_P_Small_Textarea {
  width: 100%;
  height: 150px;
  border: none;
  padding: 8px;
  border: 1px solid darkgray;
}
@media screen and (max-width: 500px) {
  .RegisterForm_Container_Box_Form .Description04_Container_Box_P_Small_Image {
    width: 100%;
    margin-bottom: var(--SmallSpace);
    object-fit: cover;
  }
}
.RegisterForm_Container_Box_Form .Description05_Container {
  width: 100%;
  margin-bottom: var(--50pxSpace);
}
.RegisterForm_Container_Box_Form .Description05_Container .Description05_Container_Box {
  width: 100%;
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .Description05_Container .Description05_Container_Box .Description05_Container_Box_P {
  margin-bottom: 10px;
}
.RegisterForm_Container_Box_Form .Description05_Container .Description05_Container_Box .Description05_Container_Box_P_Small .Description05_Container_Box_P_Small_P {
  margin-bottom: 10px;
}
.RegisterForm_Container_Box_Form .Description05_Container .Description05_Container_Box .Description05_Container_Box_P_Small .Description05_Container_Box_P_Small_Image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}
.RegisterForm_Container_Box_Form .Description05_Container .Description05_Container_Box .Description05_Container_Box_P_Small .Description05_Container_Box_P_Small_Input1 {
  width: 100%;
  border: none;
  padding: 8px;
  margin-bottom: 30px;
}
.RegisterForm_Container_Box_Form .Description05_Container .Description05_Container_Box .Description05_Container_Box_P_Small .Description05_Container_Box_P_Small_Input2 {
  width: 100%;
  height: 40px;
  border: none;
  padding: 8px;
  background: lightgray;
}
.RegisterForm_Container_Box_Form .Description05_Container .Description05_Container_Box .Description05_Container_Box_P_Small .Description05_Container_Box_P_Small_Textarea {
  width: 100%;
  height: 150px;
  border: none;
  padding: 8px;
  border: 1px solid darkgray;
}
.RegisterForm_Container_Box_Form .RelatedProducts_Container {
  width: 100%;
  margin-bottom: var(--50pxSpace);
}
.RegisterForm_Container_Box_Form .RelatedProducts_Container .RelatedProducts_Container_Box {
  width: 100%;
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .RelatedProducts_Container .RelatedProducts_Container_Box .RelatedProducts_Container_Box_P {
  margin-bottom: 20px;
}
.RegisterForm_Container_Box_Form .RelatedProducts_Container .RelatedProducts_Container_Box .RelatedProducts_Container_Box_Related {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}
.RegisterForm_Container_Box_Form .RelatedProducts_Container .RelatedProducts_Container_Box .RelatedProducts_Container_Box_Related .RelatedProducts_Container_Box_Related_Text {
  margin-bottom: 10px;
}
.RegisterForm_Container_Box_Form .RelatedProducts_Container .RelatedProducts_Container_Box .RelatedProducts_Container_Box_Related .RelatedProducts_Container_Box_Related_Text_Name {
  border: none;
  background: var(--requiredBlank);
  padding: 8px;
  width: 100%;
  height: 40px;
}
.RegisterForm_Container_Box_Form .RelatedProducts_Container .RelatedProducts_Container_Box .RelatedProducts_Container_Box_Related .RelatedProducts_Container_Box_Related_Text_Position {
  border: none;
  padding: 8px;
  width: 100%;
  height: 40px;
  background: var(--requiredBlank);
}
.RegisterForm_Container_Box_Form .RelatedProducts_Container .RelatedProducts_Container_Box .RelatedProducts_Container_Box_Related .RelatedProducts_Container_Box_Related_Text_Mobile {
  border: none;
  padding: 8px;
  width: 100%;
  height: 40px;
  background: var(--requiredBlank);
}
.RegisterForm_Container_Box_Form .ApplicationSpecialist_Container {
  width: 100%;
  margin-bottom: var(--50pxSpace);
}
.RegisterForm_Container_Box_Form .ApplicationSpecialist_Container .ApplicationSpecialist_Container_Box {
  width: 100%;
  font-size: var(--0d875rem);
}
.RegisterForm_Container_Box_Form .ApplicationSpecialist_Container .ApplicationSpecialist_Container_Box .ApplicationSpecialist_Container_Box_P {
  margin-bottom: 20px;
}
.RegisterForm_Container_Box_Form .ApplicationSpecialist_Container .ApplicationSpecialist_Container_Box .ApplicationSpecialist_Container_Box_Specialist {
  width: 100%;
}
.RegisterForm_Container_Box_Form .ApplicationSpecialist_Container .ApplicationSpecialist_Container_Box .ApplicationSpecialist_Container_Box_Specialist .ApplicationSpecialist_Container_Box_Specialist_Text_Name {
  border: none;
  padding: 8px;
  width: 100%;
  height: 40px;
  background: var(--requiredBlank);
}
.RegisterForm_Container_Box_Form .ApplicationSpecialist_Container .ApplicationSpecialist_Container_Box .ApplicationSpecialist_Container_Box_Specialist .ApplicationSpecialist_Container_Box_Specialist_Text_Position {
  border: none;
  padding: 8px;
  width: 100%;
  height: 40px;
  background: var(--requiredBlank);
}
.RegisterForm_Container_Box_Form .ApplicationSpecialist_Container .ApplicationSpecialist_Container_Box .ApplicationSpecialist_Container_Box_Specialist .ApplicationSpecialist_Container_Box_Specialist_Text_Mobile {
  border: none;
  padding: 8px;
  width: 100%;
  height: 40px;
  background: var(--requiredBlank);
}
.RegisterForm_Container_Box_Form .CreateRegisterForm_Container_Box_Form_Hr01 {
  width: 100%;
  margin: 50px auto;
}
.RegisterForm_Container_Box_Form .CreateRegisterForm_Container_Box_Form_Input {
  color: var(--blackTextColor);
  border: none;
  width: 100%;
  height: 35px;
  font-size: var(--0d875rem);
  margin: 0 auto;
}/*# sourceMappingURL=AdminCreate_Media.css.map */