:root {
  /* Colors and Styles (Default) */
  --backGroundDarkColor: rgb(23, 23, 22);
  --backGroundColor: rgb(44, 44, 41);
  --whiteTextColor: rgb(240, 240, 232);
  --whiteBackGroundColor: rgb(255, 255, 255);
  --requiredBlank: rgba(171, 250, 164, 0.991);
  /* Colors and Styles (Default) */
  /* Space (Default) */
  /* Space (Default) */
  --100pxSpace: 100px;
  --50pxSpace: 50px;
  --30pxSpace: 30px;
  --20pxSpace: 20px;
  /* Font Size (Default) */
  --3d125rem: 3.125rem;
  --2d275rem: 2.375rem;
  --1d875rem: 1.875rem;
  --1d375rem: 1.375rem;
  --1d25rem: 1.25rem;
  --1d125rem: 1.125rem; 
  --1d05rem: 1.05rem; 
  --1rem: 1rem;
  --0d94rem: 0.94rem;
  --0d875rem: 0.875rem;
  --0d75rem: 0.75rem;
  --0d625rem: 0.625rem; 
}

.LoginKakao_Container {
  width: 100%;
  height: 100vh;
  background: var(--whiteTextColor);

  .LoginKakao_Container_Box {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;


    .LoginKakao_Container_Box_ButtonBox {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      
      .LoginKakao_Container_Box_ButtonBox_ImageBox {
        width: 40%;
        margin-bottom: 30px;

        .LoginKakao_Container_Box_ButtonBox_ImageBox_Image {
          width: 100%;
        }
      }
      .LoginKakao_Container_Box_LoginKakao_Container_Box_ButtonBox_Button {
        overflow: hidden;
        border: 0;
        margin-bottom: 50px;
  
        .LoginKakao_Container_Box_ButtonBox_Button_Image{
          width: 100%;
          object-fit: cover;
  
        }
      }
      .LoginKakao_Container_Box_ButtonBox_Text01 {
        margin-bottom: 100px;
        text-align: center;
      }
      .LoginKakao_Container_Box_ButtonBox_Text02 {
        text-decoration: none;
        border-bottom: 1px solid black;
        font-size: var(--0d875rem);
      }
    }
  }
}