:root {
  /* Colors and Styles (Default) */
  --backGroundDarkColor: rgb(23, 23, 22);
  --backGroundColor: rgb(44, 44, 41);
  --backGroundWhiteColor: rgb(255, 255, 255);
  --whiteTextColor: rgb(240, 240, 232);
  --requiredBlank: rgba(171, 250, 164, 0.991);
  /* Colors and Styles (Default) */
  /* Space (Default) */
  /* Space (Default) */
  --100pxSpace: 100px;
  --50pxSpace: 50px;
  --30pxSpace: 30px;
  --20pxSpace: 20px;
  /* Font Size (Default) */
  --3d125rem: 3.125rem;
  --2d275rem: 2.375rem;
  --1d875rem: 1.875rem;
  --1d375rem: 1.375rem;
  --1d25rem: 1.25rem;
  --1d125rem: 1.125rem; 
  --1d05rem: 1.05rem; 
  --1rem: 1rem;
  --0d94rem: 0.94rem;
  --0d875rem: 0.875rem;
  --0d75rem: 0.75rem;
  --0d625rem: 0.625rem;
  /* 브랜드칼라라 */
  --Sartorius: #faee04;
}

.Event_Container {
  width: 100%;
  height: 100%;
  background-color: var(--backGroundWhiteColor);
  position: relative;

  .Event_Container_Box {
    width: 100%;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    color: black;
    font-weight: 600;
    font-size: var(--1d375rem);
    text-align: center;
    

    .Event_Container_Box_EventItems {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 50px;
      // border: 2px solid blue;
      margin-top: 30px;


      .Event_Container_Box_EventItems_Item {
        // border: 1px solid red;
        width: 100%;
        padding-top: 1.2px;
        padding-left: 1.2px;
        padding-right: 1.2px;
        display: flex;
        flex-direction: column;
        background-color: black;
        // position: relative;


        .Event_Container_Box_EventItems_Item_ImageBox {
          width: 100%;
          // border: 1px solid red;
          overflow: hidden;

          .Event_Container_Box_EventItems_Item_ImageBox_Image {
            // border: 1px solid red;
            width: 100%;
          }
        }
        .Event_Container_Box_EventItems_Item_TextBox {
          // border: 1px solid blue;
          width: 100%;

          .Event_Container_Box_EventItems_Item_TextBox_Link {
            width: 100%;
            text-decoration: none;

            .Event_Container_Box_EventItems_Item_TextBox_Text {
              display: flex;
              width: 100%;
              height: 40px;
              font-size: var(--0d875rem);
              background-color: black;
              color: white;
              font-weight: 600;
              letter-spacing: 1px;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              
            }
          }

          
        }

      }
    }
  }
  .Event_Container_NavigationBottom {
    width: 100%;
    position: sticky;
    bottom: 0;
  }
}