:root {
  /* Colors and Styles (Default) */
  --backGroundDarkColor: rgb(23, 23, 22);
  --backGroundColor: rgb(44, 44, 41);
  --whiteTextColor: rgb(240, 240, 232);
  --blackTextColor: rgb(0, 0, 0);
  --requiredBlank: rgba(171, 250, 164, 0.991);
  /* Colors and Styles (Default) */
  /* Space (Default) */
  --100pxSpace: 100px;
  --50pxSpace: 50px;
  --30pxSpace: 30px;
  --20pxSpace: 20px;
  /* Font Size (Default) */
  --XXXBigFontSize: 3.125rem;
  --XBigFontSize: 1.375rem;
  --XXXLargeFontSize: 1.25rem;
  --XXLargeFontSize: 1.125rem;
  --XLargeFontSize: 1.06rem;
  --normalFontSize: 1rem;
  /* Font Size (Default) */
  --3d125rem: 3.125rem;
  --1d375rem: 1.375rem;
  --1d25rem: 1.25rem;
  --1d125rem: 1.125rem;
  --1d05rem: 1.05rem;
  --1rem: 1rem;
  --0d94rem: 0.94rem;
  --0d875rem: 0.875rem;
  --0d75rem: 0.75rem;
  --0d625rem: 0.625rem;
}

.AdminListEvent_None {
  display: none;
}

.AdminListEvent_Container {
  width: 100%;
  background: var(--backGroundColor);
}
.AdminListEvent_Container .AdminListEvent_Container_Box {
  width: 100%;
  padding: 10px;
}
.AdminListEvent_Container .AdminListEvent_Container_Box .AdminListEvent_Container_Box_ProductBox {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--backGroundDarkColor);
}
.AdminListEvent_Container .AdminListEvent_Container_Box .AdminListEvent_Container_Box_ProductBox .AdminListEvent_Container_Box_ProductBox_ImageBox {
  width: 100%;
  object-fit: cover;
}
.AdminListEvent_Container .AdminListEvent_Container_Box .AdminListEvent_Container_Box_ProductBox .AdminListEvent_Container_Box_ProductBox_ImageBox .AdminListEvent_Container_Box_ProductBox_ImageBox_Image {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}
.AdminListEvent_Container .AdminListEvent_Container_Box .AdminListEvent_Container_Box_ProductBox .AdminListEvent_Container_Box_ProductBox_TextBox {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--whiteTextColor);
}
.AdminListEvent_Container .AdminListEvent_Container_Box .AdminListEvent_Container_Box_ProductBox .AdminListEvent_Container_Box_ProductBox_TextBox .AdminListEvent_Container_Box_ProductBox_TextBox_P {
  font-size: var(--0d75rem);
}
.AdminListEvent_Container .AdminListEvent_Container_Box .AdminListEvent_Container_Box_ProductBox_TextBox_ButtonBox {
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.AdminListEvent_Container .AdminListEvent_Container_Box .AdminListEvent_Container_Box_ProductBox_TextBox_ButtonBox .AdminListEvent_Container_Box_ProductBox_TextBox_ButtonBox_Button_Delete {
  width: 25px;
  height: 25px;
  border: 0;
  background: var(--backGroundDarkColor);
  color: var(--whiteTextColor);
  font-size: var(--1d125rem);
  line-height: 15px;
}
.AdminListEvent_Container .AdminListEvent_Container_Box .AdminListEvent_Container_Box_ProductBox_TextBox_ButtonBox .AdminListEvent_Container_Box_ProductBox_TextBox_ButtonBox_Button_Update {
  width: 25px;
  height: 25px;
  border: 0;
  background: var(--backGroundDarkColor);
  color: var(--whiteTextColor);
  font-size: var(--1d125rem);
  text-align: center;
  line-height: 30px;
  text-decoration: none;
}

.AdminListEvent_Container_Box_Count {
  width: 100%;
  height: 100px;
  background: var(--backGroundDarkColor);
  color: var(--whiteTextColor);
  font-size: var(--1d375rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}/*# sourceMappingURL=AdminEventsList.css.map */