@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  /* Colors and Styles (Default) */
  --backGroundDarkColor: rgb(23, 23, 22);
  --backGroundColor: rgb(44, 44, 41);
  --whiteTextColor: rgb(240, 240, 232);
  --blackTextColor: rgb(0, 0, 0);
  --requiredBlank: rgba(171, 250, 164, 0.991);
  /* Colors and Styles (Default) */
  /* Space (Default) */
  --100pxSpace: 100px;
  --50pxSpace: 50px;
  --30pxSpace: 30px;
  --20pxSpace: 20px;
  --15pxSpace: 15px;
  --10pxSpace: 10px;
  /* Font Size (Default) */
  --XXXBigFontSize: 3.125rem;
  --XBigFontSize: 1.375rem;
  --XXXLargeFontSize: 1.25rem;
  --XXLargeFontSize: 1.125rem; 
  --XLargeFontSize: 1.06rem; 
  --normalFontSize: 1rem; 
   /* Font Size (Default) */
  --3d125rem: 3.125rem;
  --1d375rem: 1.375rem;
  --1d25rem: 1.25rem;
  --1d125rem: 1.125rem; 
  --1d05rem: 1.05rem; 
  --1rem: 1rem;
  --0d94rem: 0.94rem;
  --0d875rem: 0.875rem;
  --0d75rem: 0.75rem;
  --0d625rem: 0.625rem; 
}


.EventUpdateRegisterForm_Container_Box_Form {
  width: 100%;
  padding: 15px;
  padding-top: 100px;
  padding-bottom: 20px;
  font-size: var(--0d875rem);

  //========================================================================Event Main Image
  .EventUpdateImageURL_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);

    .EventUpdateImageURL_Container_Box {
      width: 100%;

      .EventUpdateImageURL_Container_Box_Asking {
        width: 100%;
        margin-bottom: var(--10pxSpace);

        .EventUpdateImageURL_Container_Box_Asking_P {
        }
      }

      .EventUpdateImageURL_Container_Box_Register {
        width: 100%;
        overflow: hidden;

        .EventUpdateImageURL_Container_Box_Register_Image {
          margin-bottom: var(--10pxSpace);
          object-fit: cover;
          border: 1px solid red;
        }
        .EventUpdateImageURL_Container_Box_Register_Input {
          width: 100%;
          border: none;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .EventUpdateImageURL_Container_Box_Register_Image {
      width: 100%;
      margin-bottom: var(--SmallSpace);
      object-fit: cover;
    }
  }


  //========================================================================Banner Image
  .EventBannerImageURL_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);

    .EventBannerImageURL_Container_Box {
      width: 100%;

      .EventBannerImageURL_Container_Box_Asking {
        width: 100%;
        margin-bottom: var(--10pxSpace);

        .EventBannerImageURL_Container_Box_Asking_P {
        }
      }

      .EventBannerImageURL_Container_Box_Register {
        width: 100%;
        overflow: hidden;

        .EventBannerImageURL_Container_Box_Register_Image {
          margin-bottom: var(--10pxSpace);
          border: 1px solid red;
          object-fit: cover;
        }
        .EventBannerImageURL_Container_Box_Register_Input {
          width: 100%;
          border: none;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .EventBannerImageURL_Container_Box_Register_Image {
      width: 100%;
      margin-bottom: var(--SmallSpace);
      object-fit: cover;
    }
  }





  //======================================================================Event Name
  .EventName_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);

    .EventName_Container_Box {
      width: 100%;

      .EventName_Container_Box_P {
        margin-bottom: 10px;

      }
      .EventName_Container_Box_Label {
      }
      .EventName_Container_Box_Input {
        border: none;
        padding: 8px;
        width: 100%;
        height: 40px;
        background: var(--requiredBlank);
      }
    }
  }




  //========================================================================Event Main Title
  .EventTitle_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);

    .EventTitle_Container_Box {
      width: 100%;

      .EventTitle_Container_Box_P {
        margin-bottom: 10px;
      }
      .EventTitle_Container_Box_Label {
      }
      .EventTitle_Container_Box_Input {
        border: none;
        padding: 8px;
        width: 100%;
        height: 40px;
        background: var(--requiredBlank);
      }
    }
  }







  //========================================================================Event URL
  .EventURL_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);

    .EventURL_Container_Box {
      width: 100%;

      .EventURL_Container_Box_P {
        margin-bottom: 10px;
      }
      .EventURL_Container_Box_Label {
      }
      .EventURL_Container_Box_Input {
        border: none;
        padding: 8px;
        width: 100%;
        height: 40px;
        background: var(--requiredBlank);
      }
    }
  }







  //========================================================================Event Type
  .EventType_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);

    .EventType_Container_Box {
      width: 100%;

      .EventType_Container_Box_P {
        margin-bottom: 10px;

      }
      .EventType_Container_Box_Label {
      }
      .EventType_Container_Box_Select {
        border: none;
        padding: 8px;
        width: 100%;
        height: 40px;
        background: var(--requiredBlank);

        .EventType_Container_Box_Option {
        }
      }
    }
  }




  //========================================================================Event Closed
  .EventClosed_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);

    .EventClosed_Container_Box {
      width: 100%;

      .EventClosed_Container_Box_P {
        margin-bottom: 10px;
      }
      .EventClosed_Container_Box_Label {
      }
      .EventClosed_Container_Box_Input {
        border: none;
        padding: 8px;
        width: 100%;
        height: 40px;
        background: var(--requiredBlank);
      }
    }
  }



  //========================================================================Event Purpose
  .EventPurpose_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);

    .EventPurpose_Container_Box {
      width: 100%;

      .EventPurpose_Container_Box_P {
        margin-bottom: 10px;

      }
      .EventPurpose_Container_Box_Small {
        display: flex;
        margin-bottom: 5px;

        .EventPurpose_Container_Box_Small_Input {
          padding: 5px;
        }
        .EventPurpose_Container_Box_Small_Label {
          margin-left: 5px;
        }
      }

    }
  }





  //========================================================================DescriptionA
  .DescriptionA_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);

    .DescriptionA_Container_Box {
      width: 100%;

      .DescriptionA_Container_Box_P {
        margin-bottom: 10px;
      }
      .DescriptionA_Container_Box_P_Small {

        .DescriptionA_Container_Box_P_Small_P {
          margin-bottom: 10px;
        }
        .DescriptionA_Container_Box_P_Small_Image {
          width: 100%;
          object-fit: cover;
          margin-bottom: 15px;
          border: 1px solid red;
        }
        .DescriptionA_Container_Box_P_Small_Input1 {
          width: 100%;
          border: 1px solid black;
          padding: 8px;
        }
        .DescriptionA_Container_Box_P_Small_Input2 {
          width: 100%;
          height: 40px;
          border: 1px solid black;
          padding: 8px;
        }
        .DescriptionA_Container_Box_P_Small_Textarea {
          width: 100%;
          height: 150px;
          border: 1px solid black;
          padding: 8px;
        }
      }

    }
  }

  @media screen and (max-width: 500px) {
    .DescriptionA_Container_Box_P_Small_Image {
      width: 100%;
      margin-bottom: var(--SmallSpace);
      object-fit: cover;
    }
  }





  //========================================================================DescriptionB
  .DescriptionB_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);

    .DescriptionB_Container_Box {
      width: 100%;

      .DescriptionB_Container_Box_P {
        margin-bottom: 10px;
      }
      .DescriptionB_Container_Box_P_Small {

        .DescriptionB_Container_Box_P_Small_P {
          margin-bottom: 10px;
        }
        .DescriptionB_Container_Box_P_Small_Image {
          width: 100%;
          object-fit: cover;
          margin-bottom: 15px;
          border: 1px solid red;
        }
        .DescriptionB_Container_Box_P_Small_Input1 {
          width: 100%;
          border: 1px solid black;
          padding: 8px;
        }
        .DescriptionB_Container_Box_P_Small_Input2 {
          width: 100%;
          height: 40px;
          border: 1px solid black;
          padding: 8px;
        }
        .DescriptionB_Container_Box_P_Small_Textarea {
          width: 100%;
          height: 150px;
          border: 1px solid black;
          padding: 8px;
        }
      }

    }
  }

  @media screen and (max-width: 500px) {
    .DescriptionB_Container_Box_P_Small_Image {
      width: 100%;
      margin-bottom: var(--SmallSpace);
      object-fit: cover;
    }
  }


  //========================================================================DescriptionC
  .DescriptionC_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);

    .DescriptionC_Container_Box {
      width: 100%;

      .DescriptionC_Container_Box_P {
        margin-bottom: 10px;
      }
      .DescriptionC_Container_Box_P_Small {

        .DescriptionC_Container_Box_P_Small_P {
          margin-bottom: 10px;
        }
        .DescriptionC_Container_Box_P_Small_Image {
          width: 100%;
          object-fit: cover;
          margin-bottom: 15px;
          border: 1px solid red;
        }
        .DescriptionC_Container_Box_P_Small_Input1 {
          width: 100%;
          border: 1px solid black;
          padding: 8px;
        }
        .DescriptionC_Container_Box_P_Small_Input2 {
          width: 100%;
          height: 40px;
          border: 1px solid black;
          padding: 8px;
        }
        .DescriptionC_Container_Box_P_Small_Textarea {
          width: 100%;
          height: 150px;
          border: 1px solid black;
          padding: 8px;
        }
      }

    }
  }

  @media screen and (max-width: 500px) {
    .DescriptionC_Container_Box_P_Small_Image {
      width: 100%;
      margin-bottom: var(--SmallSpace);
      object-fit: cover;
    }
  }




  //========================================================================Manufacturer
  .EventManufacturer_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);

    .EventManufacturer_Container_Box {
      width: 100%;

      .EventManufacturer_Container_Box_P {
        margin-bottom: 10px;

      }
      .EventManufacturer_Container_Box_Label {

      }
      .EventManufacturer_Container_Box_Select {
        border: 1px solid black;
        padding: 8px;
        width: 100%;
        height: 40px;
        background: var(--requiredBlank);

        .EventManufacturer_Container_Box_Select_Option {
        }
      }
    }
  }

  .EditUpdate_Submit_Button {
    width: 100%;
    height: 40px;
    background: lightgray;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: var(--0d94rem);
    letter-spacing: 3px;
  }
}

.EditUpdate_Cancel_Button_Box {
  width: 100%;
  height: 40px;
  padding: 15px;
  padding-bottom: 100px;
  font-size: var(--0d94rem);

  .Edit_Cancel_Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: lightgray;
    cursor: pointer;
  }
}


