@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  /* Colors and Styles (Default) */
  --backGroundDarkColor: rgb(23, 23, 22);
  --backGroundColor: rgb(44, 44, 41);
  --whiteTextColor: rgb(240, 240, 232);
  --blackTextColor: rgb(0, 0, 0);
  --requiredBlank: rgba(171, 250, 164, 0.991);
  /* Colors and Styles (Default) */
  /* Space (Default) */
  --100pxSpace: 100px;
  --50pxSpace: 50px;
  --30pxSpace: 30px;
  --20pxSpace: 20px;
  --15pxSpace: 15px;
  --10pxSpace: 10px;
  /* Font Size (Default) */
  --XXXBigFontSize: 3.125rem;
  --XBigFontSize: 1.375rem;
  --XXXLargeFontSize: 1.25rem;
  --XXLargeFontSize: 1.125rem; 
  --XLargeFontSize: 1.06rem; 
  --normalFontSize: 1rem; 
   /* Font Size (Default) */
  --3d125rem: 3.125rem;
  --1d375rem: 1.375rem;
  --1d25rem: 1.25rem;
  --1d125rem: 1.125rem; 
  --1d05rem: 1.05rem; 
  --1rem: 1rem;
  --0d94rem: 0.94rem;
  --0d875rem: 0.875rem;
  --0d75rem: 0.75rem;
  --0d625rem: 0.625rem; 
}


.EventRegisterForm_Container_Box_Form {
  width: 100%;
  padding: 15px;
  padding-bottom: 0px;
  font-size: var(--0d875rem);

  .EventImageURL_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);
  
    .EventImageURL_Container_Box {
      width: 100%;
  
      .EventImageURL_Container_Box_Asking {
        width: 100%;
        margin-bottom: var(--20pxSpace);
  
        .EventImageURL_Container_Box_Asking_P {
          font-size: var(--0d94rem);
        }
      }
  
      .EventImageURL_Container_Box_Register {
        width: 100%;
        overflow: hidden;
  
        .EventImageURL_Container_Box_Register_Image {
          max-width: 500px;
          margin-bottom: var(--20pxSpace);
          object-fit: cover;
        }
        .EventImageURL_Container_Box_Register_Input {
          width: 100%;
          border: 1px solid black;
          margin-bottom: 30px;
          
        }
      }
    }
  }
  
  @media screen and (max-width: 500px) {
    .EventImageURL_Container_Box_Register_Image {
      width: 100%;
      margin-bottom: var(--SmallSpace);
      object-fit: cover;
    }
  }
  
  
  
  
  
  //========================================================================Event Main Image
  .EventImageURL_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);
  
    .EventImageURL_Container_Box {
      width: 100%;
  
      .EventImageURL_Container_Box_Asking {
        width: 100%;
        margin-bottom: var(--20pxSpace);
  
        .EventImageURL_Container_Box_Asking_P {
        }
      }
  
      .EventImageURL_Container_Box_Register {
        width: 100%;
        overflow: hidden;
  
        .EventImageURL_Container_Box_Register_Image {
          margin-bottom: var(--20pxSpace);
          object-fit: cover;
        }
        .EventImageURL_Container_Box_Register_Input {
          width: 100%;
          border: 1px solid black;
          margin-bottom: 30px;
          
        }
      }
    }
  }
  
  @media screen and (max-width: 500px) {
    .EventImageURL_Container_Box_Register_Image {
      width: 100%;
      margin-bottom: var(--SmallSpace);
      object-fit: cover;
    }
  }
  
  
  
  //========================================================================Banner Image
  .EventBannerImageURL_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);
  
    .EventBannerImageURL_Container_Box {
      width: 100%;
  
      .EventBannerImageURL_Container_Box_Asking {
        width: 100%;
        margin-bottom: var(--20pxSpace);
  
        .EventBannerImageURL_Container_Box_Asking_P {
        }
      }
  
      .EventBannerImageURL_Container_Box_Register {
        width: 100%;
        overflow: hidden;
  
        .EventBannerImageURL_Container_Box_Register_Image {
          margin-bottom: var(--20pxSpace);
          object-fit: cover;
        }
        .EventBannerImageURL_Container_Box_Register_Input {
          width: 100%;
          border: 1px solid black;
          margin-bottom: 30px;
          
        }
      }
    }
  }
  
  @media screen and (max-width: 500px) {
    .EventBannerImageURL_Container_Box_Register_Image {
      width: 100%;
      margin-bottom: var(--SmallSpace);
      object-fit: cover;
    }
  }
  
  
  
  
  
  //======================================================================Event Name
  .EventName_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);
  
    .EventName_Container_Box {
      width: 100%;
  
      .EventName_Container_Box_P {
        margin-bottom: 10px;
  
      }
      .EventName_Container_Box_Label {
      }
      .EventName_Container_Box_Input {
        border: 1px solid black;
        padding: 8px;
        width: 100%;
        height: 40px;
        background: var(--requiredBlank);
      }
    }
  }
  
  
  
  
  //========================================================================Event Main Title
  .EventTitle_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);
  
    .EventTitle_Container_Box {
      width: 100%;
  
      .EventTitle_Container_Box_P {
        margin-bottom: 10px;
      }
      .EventTitle_Container_Box_Label {
      }
      .EventTitle_Container_Box_Input {
        border: 1px solid black;
        padding: 8px;
        width: 100%;
        height: 40px;
        background: var(--requiredBlank);
      }
    }
  }
  
  
  
  
  
  
  
  //========================================================================Event URL
  .EventURL_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);
  
    .EventURL_Container_Box {
      width: 100%;
  
      .EventURL_Container_Box_P {
        margin-bottom: 10px;
      }
      .EventURL_Container_Box_Label {
      }
      .EventURL_Container_Box_Input {
        border: 1px solid black;
        padding: 8px;
        width: 100%;
        height: 40px;
        background: var(--requiredBlank);
      }
    }
  }
  
  
  
  
  
  
  
  //========================================================================Event Type
  .EventType_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);
  
    .EventType_Container_Box {
      width: 100%;
  
      .EventType_Container_Box_P {
        margin-bottom: 10px;
  
      }
      .EventType_Container_Box_Label {
      }
      .EventType_Container_Box_Select {
        border: 1px solid black;
        padding: 8px;
        width: 100%;
        height: 40px;
        background: var(--requiredBlank);
  
        .EventType_Container_Box_Option {
        }
      }
    }
  }
  
  
  
  
  //========================================================================Event Close
  .EventClose_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);
  
    .EventClose_Container_Box {
      width: 100%;
  
      .EventClose_Container_Box_P {
        margin-bottom: 10px;
      }
      .EventClose_Container_Box_Label {
      }
      .EventClose_Container_Box_Input {
        border: 1px solid black;
        padding: 8px;
        width: 100%;
        height: 40px;
        background: var(--requiredBlank);
      }
    }
  }
  
  
  
  //========================================================================Event Purpose
  .EventPurpose_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);
    
    .EventPurpose_Container_Box {
      width: 100%;
  
      .EventPurpose_Container_Box_P {
        margin-bottom: 10px;
  
      }
      .EventPurpose_Container_Box_Small {
        display: flex;
        margin-bottom: 5px;
  
        .EventPurpose_Container_Box_Small_Input {
          padding: 5px;
        }
        .EventPurpose_Container_Box_Small_Label {
          margin-left: 5px;
        }
      }
      
    }
  }
  
  
  
  
  
  //========================================================================DescriptionA
  .DescriptionA_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);
  
    .DescriptionA_Container_Box {
      width: 100%;
  
      .DescriptionA_Container_Box_P {
        margin-bottom: 10px;
      }
      .DescriptionA_Container_Box_P_Small {
  
        .DescriptionA_Container_Box_P_Small_P {
          margin-bottom: 10px;
        }
        .DescriptionA_Container_Box_P_Small_Image {
          width: 100%;
          object-fit: cover;
          margin-bottom: 15px;
        }
        .DescriptionA_Container_Box_P_Small_Input1 {
          width: 100%;
          border: 1px solid black;
          padding: 8px;
          margin-bottom: 30px;
        }
        .DescriptionA_Container_Box_P_Small_Input2 {
          width: 100%;
          height: 40px;
          border: 1px solid black;
          padding: 8px;
        }
        .DescriptionA_Container_Box_P_Small_Textarea {
          width: 100%;
          height: 150px;
          border: 1px solid black;
          padding: 8px;
        }
      }
      
    }
  }
  
  @media screen and (max-width: 500px) {
    .DescriptionA_Container_Box_P_Small_Image {
      width: 100%;
      margin-bottom: var(--SmallSpace);
      object-fit: cover;
    }
  }
  
  
  
  
  
  //========================================================================DescriptionB
  .DescriptionB_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);
  
    .DescriptionB_Container_Box {
      width: 100%;
  
      .DescriptionB_Container_Box_P {
        margin-bottom: 10px;
      }
      .DescriptionB_Container_Box_P_Small {
  
        .DescriptionB_Container_Box_P_Small_P {
          margin-bottom: 10px;
        }
        .DescriptionB_Container_Box_P_Small_Image {
          width: 100%;
          object-fit: cover;
          margin-bottom: 15px;
        }
        .DescriptionB_Container_Box_P_Small_Input1 {
          width: 100%;
          border: 1px solid black;
          padding: 8px;
          margin-bottom: 30px;
        }
        .DescriptionB_Container_Box_P_Small_Input2 {
          width: 100%;
          height: 40px;
          border: 1px solid black;
          padding: 8px;
        }
        .DescriptionB_Container_Box_P_Small_Textarea {
          width: 100%;
          height: 150px;
          border: 1px solid black;
          padding: 8px;
        }
      }
      
    }
  }
  
  @media screen and (max-width: 500px) {
    .DescriptionB_Container_Box_P_Small_Image {
      width: 100%;
      margin-bottom: var(--SmallSpace);
      object-fit: cover;
    }
  }
  
  
  //========================================================================DescriptionC
  .DescriptionC_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);
  
    .DescriptionC_Container_Box {
      width: 100%;
  
      .DescriptionC_Container_Box_P {
        margin-bottom: 10px;
      }
      .DescriptionC_Container_Box_P_Small {
  
        .DescriptionC_Container_Box_P_Small_P {
          margin-bottom: 10px;
        }
        .DescriptionC_Container_Box_P_Small_Image {
          width: 100%;
          object-fit: cover;
          margin-bottom: 15px;
        }
        .DescriptionC_Container_Box_P_Small_Input1 {
          width: 100%;
          border: 1px solid black;
          padding: 8px;
          margin-bottom: 30px;
        }
        .DescriptionC_Container_Box_P_Small_Input2 {
          width: 100%;
          height: 40px;
          border: 1px solid black;
          padding: 8px;
        }
        .DescriptionC_Container_Box_P_Small_Textarea {
          width: 100%;
          height: 150px;
          border: 1px solid black;
          padding: 8px;
        }
      }
      
    }
  }
  
  @media screen and (max-width: 500px) {
    .DescriptionC_Container_Box_P_Small_Image {
      width: 100%;
      margin-bottom: var(--SmallSpace);
      object-fit: cover;
    }
  }
  
  
  
  
  
  
  //========================================================================Manufacturer
  .EventManufacturer_Container {
    width: 100%;
    margin-bottom: var(--50pxSpace);
  
    .EventManufacturer_Container_Box {
      width: 100%;
  
      .EventManufacturer_Container_Box_P {
        margin-bottom: 10px;
  
      }
      .EventManufacturer_Container_Box_Label {
  
      }
      .EventManufacturer_Container_Box_Select {
        border: 1px solid black;
        padding: 8px;
        width: 100%;
        height: 40px;
        background: var(--requiredBlank);
  
        .EventManufacturer_Container_Box_Select_Option {
        }
      }
    }
  }
  //========================================================================FORM

  .EventRegisterForm_Container_Box_Form_Input {
    color: var(--blackTextColor);
    width: 100%;
    height: 40px;
    font-weight: 500;
    font-size: var(--1rem);
    letter-spacing: 3px;
    display: flex;
    margin: 0 auto;
    border: none;
    cursor: pointer;
  }

}

//========================================================================Event Main Image







//========================================================================AdvertiseDo
// ! AdminCreate에서 광고 관련 사용할 경우 아래 사용하면 됨
// .AdvertiseDo_Container {
//   width: 100%;
//   background: var(--backGroundColor);
//   margin-bottom: var(--20pxSpace);
//   color: var(--whiteTextColor);

//   .AdvertiseDo_Container_Box{
//     width: 100%;
//     padding: 15px;
    
//     .AdvertiseDo_Container_Box_P{
//       color: var(--whiteTextColor);
//       font-size: var(--0d94rem);
//       margin-bottom: 10px;
//     }
//     .AdvertiseDo_Container_Box_Small {
//       display: flex;
//       margin-bottom: 5px;

//       .AdvertiseDo_Container_Box_Small_Input {
//         padding: 5px;
//         font-size: var(--0d94rem);
//       }
//       .AdvertiseDo_Container_Box_Small_Label{
//         margin-left: 5px;
//         color: var(--whiteTextColor);
//         font-size: var(--0d94rem);
//       }
//     }
//   }
// }



//========================================================================AdvertiseText
// ! AdminCreate에서 광고 관련 사용할 경우 아래 사용하면 됨
// .AdvertiseText_Container {
//   background: var(--backGroundColor);
//   width: 100%;
//   margin-bottom: var(--20pxSpace);
//   color: var(--whiteTextColor);

//   .AdvertiseText_Container_Box {
//     width: 100%;
//     padding: 15px;

//     .AdvertiseText_Container_Box_P {
//       color: var(--whiteTextColor);
//       font-size: var(--0d94rem);
//       margin-bottom: 10px;
//     }
//     .AdvertiseText_Container_Box_Label {
//       color: var(--whiteTextColor);
//     }
//     .AdvertiseText_Container_Box_Input {
//       border: 1px solid black;
//       padding: 10px;
//       max-width: 500px;
//       width: 100%;
//       height: 40px;
//       font-size: var(--0d94rem);
//       background: var(--requiredBlank);
//     }
//   }
// }








