@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  /* Colors and Styles (Default) */
  --backGroundDarkColor: rgb(23, 23, 22);
  --backGroundColor: rgb(44, 44, 41);
  --whiteTextColor: rgb(240, 240, 232);
  --blackTextColor: rgb(0, 0, 0);
  --requiredBlank: rgba(171, 250, 164, 0.991);
  /* Colors and Styles (Default) */
  /* Space (Default) */
  --100pxSpace: 100px;
  --50pxSpace: 50px;
  --30pxSpace: 30px;
  --20pxSpace: 20px;
  --15pxSpace: 15px;
  --10pxSpace: 10px;
  /* Font Size (Default) */
  --XXXBigFontSize: 3.125rem;
  --XBigFontSize: 1.375rem;
  --XXXLargeFontSize: 1.25rem;
  --XXLargeFontSize: 1.125rem;
  --XLargeFontSize: 1.06rem;
  --normalFontSize: 1rem;
  /* Font Size (Default) */
  --3d125rem: 3.125rem;
  --1d375rem: 1.375rem;
  --1d25rem: 1.25rem;
  --1d125rem: 1.125rem;
  --1d05rem: 1.05rem;
  --1rem: 1rem;
  --0d94rem: 0.94rem;
  --0d875rem: 0.875rem;
  --0d75rem: 0.75rem;
  --0d625rem: 0.625rem;
}

.EventImageURL_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);
}
.EventImageURL_Container .EventImageURL_Container_Box {
  width: 100%;
  padding: 15px;
}
.EventImageURL_Container .EventImageURL_Container_Box .EventImageURL_Container_Box_Asking {
  width: 100%;
  margin-bottom: var(--20pxSpace);
}
.EventImageURL_Container .EventImageURL_Container_Box .EventImageURL_Container_Box_Asking .EventImageURL_Container_Box_Asking_P {
  color: var(--whiteTextColor);
  font-size: var(--0d94rem);
}
.EventImageURL_Container .EventImageURL_Container_Box .EventImageURL_Container_Box_Register {
  color: var(--whiteTextColor);
  width: 100%;
  overflow: hidden;
}
.EventImageURL_Container .EventImageURL_Container_Box .EventImageURL_Container_Box_Register .EventImageURL_Container_Box_Register_Image {
  max-width: 500px;
  margin-bottom: var(--20pxSpace);
  object-fit: cover;
}
.EventImageURL_Container .EventImageURL_Container_Box .EventImageURL_Container_Box_Register .EventImageURL_Container_Box_Register_Input {
  width: 100%;
  border: none;
  margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
  .EventImageURL_Container_Box_Register_Image {
    width: 100%;
    margin-bottom: var(--SmallSpace);
    object-fit: cover;
  }
}
.EventName_Container {
  background: var(--backGroundColor);
  width: 100%;
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);
}
.EventName_Container .EventName_Container_Box {
  width: 100%;
  padding: 15px;
}
.EventName_Container .EventName_Container_Box .EventName_Container_Box_P {
  color: var(--whiteTextColor);
  font-size: var(--0d94rem);
  margin-bottom: 10px;
}
.EventName_Container .EventName_Container_Box .EventName_Container_Box_Label {
  color: var(--whiteTextColor);
}
.EventName_Container .EventName_Container_Box .EventName_Container_Box_Input {
  border: none;
  padding: 10px;
  max-width: 500px;
  width: 100%;
  height: 40px;
  font-size: var(--0d94rem);
  background: var(--requiredBlank);
}

.EventTitle_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);
}
.EventTitle_Container .EventTitle_Container_Box {
  width: 100%;
  padding: 15px;
}
.EventTitle_Container .EventTitle_Container_Box .EventTitle_Container_Box_P {
  color: var(--whiteTextColor);
  font-size: var(--0d94rem);
  margin-bottom: 10px;
}
.EventTitle_Container .EventTitle_Container_Box .EventTitle_Container_Box_Label {
  color: var(--whiteTextColor);
}
.EventTitle_Container .EventTitle_Container_Box .EventTitle_Container_Box_Input {
  border: none;
  padding: 10px;
  max-width: 500px;
  width: 100%;
  height: 40px;
  font-size: var(--0d94rem);
  background: var(--requiredBlank);
}

.EventURL_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);
}
.EventURL_Container .EventURL_Container_Box {
  width: 100%;
  padding: 15px;
}
.EventURL_Container .EventURL_Container_Box .EventURL_Container_Box_P {
  color: var(--whiteTextColor);
  font-size: var(--0d94rem);
  margin-bottom: 10px;
}
.EventURL_Container .EventURL_Container_Box .EventURL_Container_Box_Label {
  color: var(--whiteTextColor);
}
.EventURL_Container .EventURL_Container_Box .EventURL_Container_Box_Input {
  border: none;
  padding: 10px;
  max-width: 500px;
  width: 100%;
  height: 40px;
  font-size: var(--0d94rem);
  background: var(--requiredBlank);
}

.EventType_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);
}
.EventType_Container .EventType_Container_Box {
  width: 100%;
  padding: 15px;
}
.EventType_Container .EventType_Container_Box .EventType_Container_Box_P {
  color: var(--whiteTextColor);
  font-size: var(--0d94rem);
  margin-bottom: 10px;
}
.EventType_Container .EventType_Container_Box .EventType_Container_Box_Label {
  color: var(--whiteTextColor);
  font-size: var(--0d94rem);
}
.EventType_Container .EventType_Container_Box .EventType_Container_Box_Select {
  border: none;
  padding: 10px;
  max-width: 500px;
  width: 100%;
  height: 40px;
  font-size: var(--0d94rem);
  background: var(--requiredBlank);
}
.EventType_Container .EventType_Container_Box .EventType_Container_Box_Select .EventType_Container_Box_Option {
  color: var(--blackTextColor);
  font-size: var(--0d94rem);
}

.EventClose_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);
}
.EventClose_Container .EventClose_Container_Box {
  width: 100%;
  padding: 15px;
}
.EventClose_Container .EventClose_Container_Box .EventClose_Container_Box_P {
  color: var(--whiteTextColor);
  font-size: var(--0d94rem);
  margin-bottom: 10px;
}
.EventClose_Container .EventClose_Container_Box .EventClose_Container_Box_Label {
  color: var(--whiteTextColor);
}
.EventClose_Container .EventClose_Container_Box .EventClose_Container_Box_Input {
  border: none;
  padding: 10px;
  max-width: 500px;
  width: 100%;
  height: 40px;
  font-size: var(--0d94rem);
  background: var(--requiredBlank);
}

.EventPurpose_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);
}
.EventPurpose_Container .EventPurpose_Container_Box {
  width: 100%;
  padding: 15px;
}
.EventPurpose_Container .EventPurpose_Container_Box .EventPurpose_Container_Box_P {
  color: var(--whiteTextColor);
  font-size: var(--0d94rem);
  margin-bottom: 10px;
}
.EventPurpose_Container .EventPurpose_Container_Box .EventPurpose_Container_Box_Small {
  display: flex;
  margin-bottom: 5px;
}
.EventPurpose_Container .EventPurpose_Container_Box .EventPurpose_Container_Box_Small .EventPurpose_Container_Box_Small_Input {
  padding: 5px;
  font-size: var(--0d94rem);
}
.EventPurpose_Container .EventPurpose_Container_Box .EventPurpose_Container_Box_Small .EventPurpose_Container_Box_Small_Label {
  margin-left: 5px;
  color: var(--whiteTextColor);
  font-size: var(--0d94rem);
}

.DescriptionA_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);
}
.DescriptionA_Container .DescriptionA_Container_Box {
  width: 100%;
  padding: 15px;
}
.DescriptionA_Container .DescriptionA_Container_Box .DescriptionA_Container_Box_P {
  color: var(--whiteTextColor);
  font-size: var(--0d94rem);
  margin-bottom: 10px;
}
.DescriptionA_Container .DescriptionA_Container_Box .DescriptionA_Container_Box_P_Small {
  color: var(--whiteTextColor);
}
.DescriptionA_Container .DescriptionA_Container_Box .DescriptionA_Container_Box_P_Small .DescriptionA_Container_Box_P_Small_P {
  color: var(--whiteTextColor);
  font-size: var(--0d94rem);
  margin-bottom: 10px;
}
.DescriptionA_Container .DescriptionA_Container_Box .DescriptionA_Container_Box_P_Small .DescriptionA_Container_Box_P_Small_Image {
  max-width: 500px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}
.DescriptionA_Container .DescriptionA_Container_Box .DescriptionA_Container_Box_P_Small .DescriptionA_Container_Box_P_Small_Input1 {
  width: 100%;
  border: none;
  padding: 10px;
  margin-bottom: 30px;
}
.DescriptionA_Container .DescriptionA_Container_Box .DescriptionA_Container_Box_P_Small .DescriptionA_Container_Box_P_Small_Input2 {
  width: 100%;
  max-width: 500px;
  height: 40px;
  border: none;
  padding: 10px;
  font-size: var(--0d875rem);
}
.DescriptionA_Container .DescriptionA_Container_Box .DescriptionA_Container_Box_P_Small .DescriptionA_Container_Box_P_Small_Textarea {
  width: 100%;
  max-width: 500px;
  height: 150px;
  border: none;
  padding: 10px;
  font-size: var(--0d875rem);
}

@media screen and (max-width: 500px) {
  .DescriptionA_Container_Box_P_Small_Image {
    width: 100%;
    margin-bottom: var(--SmallSpace);
    object-fit: cover;
  }
}
.DescriptionB_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);
}
.DescriptionB_Container .DescriptionB_Container_Box {
  width: 100%;
  padding: 15px;
}
.DescriptionB_Container .DescriptionB_Container_Box .DescriptionB_Container_Box_P {
  color: var(--whiteTextColor);
  font-size: var(--0d94rem);
  margin-bottom: 10px;
}
.DescriptionB_Container .DescriptionB_Container_Box .DescriptionB_Container_Box_P_Small {
  color: var(--whiteTextColor);
}
.DescriptionB_Container .DescriptionB_Container_Box .DescriptionB_Container_Box_P_Small .DescriptionB_Container_Box_P_Small_P {
  color: var(--whiteTextColor);
  font-size: var(--0d94rem);
  margin-bottom: 10px;
}
.DescriptionB_Container .DescriptionB_Container_Box .DescriptionB_Container_Box_P_Small .DescriptionB_Container_Box_P_Small_Image {
  max-width: 500px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}
.DescriptionB_Container .DescriptionB_Container_Box .DescriptionB_Container_Box_P_Small .DescriptionB_Container_Box_P_Small_Input1 {
  width: 100%;
  border: none;
  padding: 10px;
  margin-bottom: 30px;
}
.DescriptionB_Container .DescriptionB_Container_Box .DescriptionB_Container_Box_P_Small .DescriptionB_Container_Box_P_Small_Input2 {
  width: 100%;
  max-width: 500px;
  height: 40px;
  border: none;
  padding: 10px;
  font-size: var(--0d875rem);
}
.DescriptionB_Container .DescriptionB_Container_Box .DescriptionB_Container_Box_P_Small .DescriptionB_Container_Box_P_Small_Textarea {
  width: 100%;
  max-width: 500px;
  height: 150px;
  border: none;
  padding: 10px;
  font-size: var(--0d875rem);
}

@media screen and (max-width: 500px) {
  .DescriptionB_Container_Box_P_Small_Image {
    width: 100%;
    margin-bottom: var(--SmallSpace);
    object-fit: cover;
  }
}
.DescriptionC_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);
}
.DescriptionC_Container .DescriptionC_Container_Box {
  width: 100%;
  padding: 15px;
}
.DescriptionC_Container .DescriptionC_Container_Box .DescriptionC_Container_Box_P {
  color: var(--whiteTextColor);
  font-size: var(--0d94rem);
  margin-bottom: 10px;
}
.DescriptionC_Container .DescriptionC_Container_Box .DescriptionC_Container_Box_P_Small {
  color: var(--whiteTextColor);
}
.DescriptionC_Container .DescriptionC_Container_Box .DescriptionC_Container_Box_P_Small .DescriptionC_Container_Box_P_Small_P {
  color: var(--whiteTextColor);
  font-size: var(--0d94rem);
  margin-bottom: 10px;
}
.DescriptionC_Container .DescriptionC_Container_Box .DescriptionC_Container_Box_P_Small .DescriptionC_Container_Box_P_Small_Image {
  max-width: 500px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}
.DescriptionC_Container .DescriptionC_Container_Box .DescriptionC_Container_Box_P_Small .DescriptionC_Container_Box_P_Small_Input1 {
  width: 100%;
  border: none;
  padding: 10px;
  margin-bottom: 30px;
}
.DescriptionC_Container .DescriptionC_Container_Box .DescriptionC_Container_Box_P_Small .DescriptionC_Container_Box_P_Small_Input2 {
  width: 100%;
  max-width: 500px;
  height: 40px;
  border: none;
  padding: 10px;
  font-size: var(--0d875rem);
}
.DescriptionC_Container .DescriptionC_Container_Box .DescriptionC_Container_Box_P_Small .DescriptionC_Container_Box_P_Small_Textarea {
  width: 100%;
  max-width: 500px;
  height: 150px;
  border: none;
  padding: 10px;
  font-size: var(--0d875rem);
}

@media screen and (max-width: 500px) {
  .DescriptionC_Container_Box_P_Small_Image {
    width: 100%;
    margin-bottom: var(--SmallSpace);
    object-fit: cover;
  }
}
.Manufacturer_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
}
.Manufacturer_Container .Manufacturer_Container_Box {
  width: 100%;
  padding: 15px;
}
.Manufacturer_Container .Manufacturer_Container_Box .Manufacturer_Container_Box_P {
  color: var(--whiteTextColor);
  font-size: var(--0d94rem);
  margin-bottom: 10px;
}
.Manufacturer_Container .Manufacturer_Container_Box .Manufacturer_Container_Box_Label {
  color: var(--whiteTextColor);
}
.Manufacturer_Container .Manufacturer_Container_Box .Manufacturer_Container_Box_Select {
  border: none;
  padding: 10px;
  max-width: 500px;
  width: 100%;
  height: 40px;
  font-size: var(--0d94rem);
  background: var(--requiredBlank);
}
.Manufacturer_Container .Manufacturer_Container_Box .Manufacturer_Container_Box_Select .Manufacturer_Container_Box_Select_Option {
  color: var(--blackTextColor);
  font-size: var(--0d94rem);
}

.RegisterForm_Container_Box_Form .RegisterForm_Container_Box_Form_Hr01 {
  width: 95%;
  margin: 30px auto;
}
.RegisterForm_Container_Box_Form .RegisterForm_Container_Box_Form_Input {
  color: var(--blackTextColor);
  width: 150px;
  height: 40px;
  font-size: var(--1d05rem);
  font-weight: 600;
  display: flex;
  margin: 0 auto;
}
.RegisterForm_Container_Box_Form .RegisterForm_Container_Box_Form_Hr02 {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
}/*# sourceMappingURL=AdminEventsCreate.css.map */