@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  /* Colors and Styles (Default) */
  --backGroundDarkColor: rgb(23, 23, 22);
  --backGroundColor: rgb(44, 44, 41);
  --whiteTextColor: rgb(240, 240, 232);
  --blackTextColor: rgb(0, 0, 0);
  --requiredBlank: rgba(171, 250, 164, 0.991);
  /* Colors and Styles (Default) */
  /* Space (Default) */
  --100pxSpace: 100px;
  --50pxSpace: 50px;
  --30pxSpace: 30px;
  --20pxSpace: 20px;
  --15pxSpace: 15px;
  --10pxSpace: 10px;
  /* Font Size (Default) */
  --XXXBigFontSize: 3.125rem;
  --XBigFontSize: 1.375rem;
  --XXXLargeFontSize: 1.25rem;
  --XXLargeFontSize: 1.125rem; 
  --XLargeFontSize: 1.06rem; 
  --normalFontSize: 1rem; 
   /* Font Size (Default) */
  --3d125rem: 3.125rem;
  --1d375rem: 1.375rem;
  --1d25rem: 1.25rem;
  --1d125rem: 1.125rem; 
  --1d05rem: 1.05rem; 
  --1rem: 1rem;
  --0d94rem: 0.94rem;
  --0d875rem: 0.875rem;
  --0d75rem: 0.75rem;
  --0d625rem: 0.625rem; 
}



//========================================================================Event Main Image
.EventUpdateImageURL_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);

  .EventUpdateImageURL_Container_Box {
    width: 100%;
    padding: 15px;

    .EventUpdateImageURL_Container_Box_Asking {
      width: 100%;
      margin-bottom: var(--20pxSpace);

      .EventUpdateImageURL_Container_Box_Asking_P {
        color: var(--whiteTextColor);
        font-size: var(--0d94rem);
      }
    }

    .EventUpdateImageURL_Container_Box_Register {
      color: var(--whiteTextColor);
      width: 100%;
      overflow: hidden;

      .EventUpdateImageURL_Container_Box_Register_Image {
        max-width: 500px;
        margin-bottom: var(--20pxSpace);
        object-fit: cover;
      }
      .EventUpdateImageURL_Container_Box_Register_Input {
        width: 100%;
        border: none;
        margin-bottom: 30px;
        
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .EventUpdateImageURL_Container_Box_Register_Image {
    width: 100%;
    margin-bottom: var(--SmallSpace);
    object-fit: cover;
  }
}


//========================================================================Banner Image
.EventBannerImageURL_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);

  .EventBannerImageURL_Container_Box {
    width: 100%;
    padding: 15px;

    .EventBannerImageURL_Container_Box_Asking {
      width: 100%;
      margin-bottom: var(--20pxSpace);

      .EventBannerImageURL_Container_Box_Asking_P {
        color: var(--whiteTextColor);
        font-size: var(--0d94rem);
      }
    }

    .EventBannerImageURL_Container_Box_Register {
      color: var(--whiteTextColor);
      width: 100%;
      overflow: hidden;

      .EventBannerImageURL_Container_Box_Register_Image {
        max-width: 500px;
        margin-bottom: var(--20pxSpace);
        object-fit: cover;
      }
      .EventBannerImageURL_Container_Box_Register_Input {
        width: 100%;
        border: none;
        margin-bottom: 30px;
        
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .EventBannerImageURL_Container_Box_Register_Image {
    width: 100%;
    margin-bottom: var(--SmallSpace);
    object-fit: cover;
  }
}





//======================================================================Event Name
.EventName_Container {
  background: var(--backGroundColor);
  width: 100%;
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);

  .EventName_Container_Box {
    width: 100%;
    padding: 15px;

    .EventName_Container_Box_P {
      color: var(--whiteTextColor);
      font-size: var(--0d94rem);
      margin-bottom: 10px;

    }
    .EventName_Container_Box_Label {
      color: var(--whiteTextColor);
    }
    .EventName_Container_Box_Input {
      border: none;
      padding: 10px;
      max-width: 500px;
      width: 100%;
      height: 40px;
      font-size: var(--0d94rem);
      background: var(--requiredBlank);
    }
  }
}




//========================================================================Event Main Title
.EventTitle_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);

  .EventTitle_Container_Box {
    width: 100%;
    padding: 15px;

    .EventTitle_Container_Box_P {
      color: var(--whiteTextColor);
      font-size: var(--0d94rem);
      margin-bottom: 10px;
    }
    .EventTitle_Container_Box_Label {
      color: var(--whiteTextColor);
    }
    .EventTitle_Container_Box_Input {
      border: none;
      padding: 10px;
      max-width: 500px;
      width: 100%;
      height: 40px;
      font-size: var(--0d94rem);
      background: var(--requiredBlank);
    }
  }
}







//========================================================================Event URL
.EventURL_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);

  .EventURL_Container_Box {
    width: 100%;
    padding: 15px;

    .EventURL_Container_Box_P {
      color: var(--whiteTextColor);
      font-size: var(--0d94rem);
      margin-bottom: 10px;
    }
    .EventURL_Container_Box_Label {
      color: var(--whiteTextColor);
    }
    .EventURL_Container_Box_Input {
      border: none;
      padding: 10px;
      max-width: 500px;
      width: 100%;
      height: 40px;
      font-size: var(--0d94rem);
      background: var(--requiredBlank);
    }
  }
}







//========================================================================Event Type
.EventType_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);

  .EventType_Container_Box {
    width: 100%;
    padding: 15px;

    .EventType_Container_Box_P {
      color: var(--whiteTextColor);
      font-size: var(--0d94rem);
      margin-bottom: 10px;

    }
    .EventType_Container_Box_Label {
      color: var(--whiteTextColor);
      font-size: var(--0d94rem);
    }
    .EventType_Container_Box_Select {
      border: none;
      padding: 10px;
      max-width: 500px;
      width: 100%;
      height: 40px;
      font-size: var(--0d94rem);
      background: var(--requiredBlank);

      .EventType_Container_Box_Option {
        color: var(--blackTextColor);
        font-size: var(--0d94rem);
      }
    }
  }
}




//========================================================================Event Closed
.EventClosed_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);

  .EventClosed_Container_Box {
    width: 100%;
    padding: 15px;

    .EventClosed_Container_Box_P {
      color: var(--whiteTextColor);
      font-size: var(--0d94rem);
      margin-bottom: 10px;
    }
    .EventClosed_Container_Box_Label {
      color: var(--whiteTextColor);
    }
    .EventClosed_Container_Box_Input {
      border: none;
      padding: 10px;
      max-width: 500px;
      width: 100%;
      height: 40px;
      font-size: var(--0d94rem);
      background: var(--requiredBlank);
    }
  }
}



//========================================================================Event Purpose
.EventPurpose_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);

  .EventPurpose_Container_Box {
    width: 100%;
    padding: 15px;

    .EventPurpose_Container_Box_P {
      color: var(--whiteTextColor);
      font-size: var(--0d94rem);
      margin-bottom: 10px;

    }
    .EventPurpose_Container_Box_Small {
      display: flex;
      margin-bottom: 5px;

      .EventPurpose_Container_Box_Small_Input {
        padding: 5px;
        font-size: var(--0d94rem);
      }
      .EventPurpose_Container_Box_Small_Label {
        margin-left: 5px;
        color: var(--whiteTextColor);
        font-size: var(--0d94rem);
      }
    }
    
  }
}





//========================================================================DescriptionA
.DescriptionA_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);

  .DescriptionA_Container_Box {
    width: 100%;
    padding: 15px;

    .DescriptionA_Container_Box_P {
      color: var(--whiteTextColor);
      font-size: var(--0d94rem);
      margin-bottom: 10px;
    }
    .DescriptionA_Container_Box_P_Small {
      color: var(--whiteTextColor);

      .DescriptionA_Container_Box_P_Small_P {
        color: var(--whiteTextColor);
        font-size: var(--0d94rem);
        margin-bottom: 10px;
      }
      .DescriptionA_Container_Box_P_Small_Image {
        max-width: 500px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 15px;
      }
      .DescriptionA_Container_Box_P_Small_Input1 {
        width: 100%;
        border: none;
        padding: 10px;
        margin-bottom: 30px;
      }
      .DescriptionA_Container_Box_P_Small_Input2 {
        width: 100%;
        max-width: 500px;
        height: 40px;
        border: none;
        padding: 10px;
        font-size: var(--0d875rem);
      }
      .DescriptionA_Container_Box_P_Small_Textarea {
        width: 100%;
        max-width: 500px;
        height: 150px;
        border: none;
        padding: 10px;
        font-size: var(--0d875rem);
      }
    }
    
  }
}

@media screen and (max-width: 500px) {
  .DescriptionA_Container_Box_P_Small_Image {
    width: 100%;
    margin-bottom: var(--SmallSpace);
    object-fit: cover;
  }
}





//========================================================================DescriptionB
.DescriptionB_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);

  .DescriptionB_Container_Box {
    width: 100%;
    padding: 15px;

    .DescriptionB_Container_Box_P {
      color: var(--whiteTextColor);
      font-size: var(--0d94rem);
      margin-bottom: 10px;
    }
    .DescriptionB_Container_Box_P_Small {
      color: var(--whiteTextColor);

      .DescriptionB_Container_Box_P_Small_P {
        color: var(--whiteTextColor);
        font-size: var(--0d94rem);
        margin-bottom: 10px;
      }
      .DescriptionB_Container_Box_P_Small_Image {
        max-width: 500px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 15px;
      }
      .DescriptionB_Container_Box_P_Small_Input1 {
        width: 100%;
        border: none;
        padding: 10px;
        margin-bottom: 30px;
      }
      .DescriptionB_Container_Box_P_Small_Input2 {
        width: 100%;
        max-width: 500px;
        height: 40px;
        border: none;
        padding: 10px;
        font-size: var(--0d875rem);
      }
      .DescriptionB_Container_Box_P_Small_Textarea {
        width: 100%;
        max-width: 500px;
        height: 150px;
        border: none;
        padding: 10px;
        font-size: var(--0d875rem);
      }
    }
    
  }
}

@media screen and (max-width: 500px) {
  .DescriptionB_Container_Box_P_Small_Image {
    width: 100%;
    margin-bottom: var(--SmallSpace);
    object-fit: cover;
  }
}


//========================================================================DescriptionC
.DescriptionC_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);
  color: var(--whiteTextColor);

  .DescriptionC_Container_Box {
    width: 100%;
    padding: 15px;

    .DescriptionC_Container_Box_P {
      color: var(--whiteTextColor);
      font-size: var(--0d94rem);
      margin-bottom: 10px;
    }
    .DescriptionC_Container_Box_P_Small {
      color: var(--whiteTextColor);

      .DescriptionC_Container_Box_P_Small_P {
        color: var(--whiteTextColor);
        font-size: var(--0d94rem);
        margin-bottom: 10px;
      }
      .DescriptionC_Container_Box_P_Small_Image {
        max-width: 500px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 15px;
      }
      .DescriptionC_Container_Box_P_Small_Input1 {
        width: 100%;
        border: none;
        padding: 10px;
        margin-bottom: 30px;
      }
      .DescriptionC_Container_Box_P_Small_Input2 {
        width: 100%;
        max-width: 500px;
        height: 40px;
        border: none;
        padding: 10px;
        font-size: var(--0d875rem);
      }
      .DescriptionC_Container_Box_P_Small_Textarea {
        width: 100%;
        max-width: 500px;
        height: 150px;
        border: none;
        padding: 10px;
        font-size: var(--0d875rem);
      }
    }
    
  }
}

@media screen and (max-width: 500px) {
  .DescriptionC_Container_Box_P_Small_Image {
    width: 100%;
    margin-bottom: var(--SmallSpace);
    object-fit: cover;
  }
}






//========================================================================Manufacturer
.Manufacturer_Container {
  width: 100%;
  background: var(--backGroundColor);
  margin-bottom: var(--20pxSpace);

  .Manufacturer_Container_Box {
    width: 100%;
    padding: 15px;

    .Manufacturer_Container_Box_P {
      color: var(--whiteTextColor);
      font-size: var(--0d94rem);
      margin-bottom: 10px;

    }
    .Manufacturer_Container_Box_Label {
      color: var(--whiteTextColor);

    }
    .Manufacturer_Container_Box_Select {
      border: none;
      padding: 10px;
      max-width: 500px;
      width: 100%;
      height: 40px;
      font-size: var(--0d94rem);
      background: var(--requiredBlank);

      .Manufacturer_Container_Box_Select_Option {
        color: var(--blackTextColor);
        font-size: var(--0d94rem);
      }
    }
  }
}





//========================================================================FORM
.RegisterForm_Container_Box_Form {
  .RegisterForm_Container_Box_Form_Input {
    color: var(--blackTextColor);
    width: 150px;
    height: 40px;
    font-size: var(--1d05rem);
    font-weight: 600;
    display: flex;
    margin: 0 auto;
  }
}

.EditUpdate_Submit_Button {
  display : flex;
  margin: 0 auto;
  width: 120px;
  height: 30px;
  font-size: var(--0d94rem);
  font-weight: 500;
  letter-spacing: 3px;
  border: none;
  cursor: pointer;
}
