:root {
  /* Colors and Styles (Default) */
  --backGroundDarkColor: rgb(23, 23, 22);
  --backGroundColor: rgb(44, 44, 41);
  --whiteTextColor: rgb(240, 240, 232);
  --blackTextColor: rgb(0, 0, 0);
  --requiredBlank: rgba(171, 250, 164, 0.991);
  /* Colors and Styles (Default) */
  /* Space (Default) */
  --100pxSpace: 100px;
  --50pxSpace: 50px;
  --30pxSpace: 30px;
  --20pxSpace: 20px;
  /* Font Size (Default) */
  --XXXBigFontSize: 3.125rem;
  --XBigFontSize: 1.375rem;
  --XXXLargeFontSize: 1.25rem;
  --XXLargeFontSize: 1.125rem; 
  --XLargeFontSize: 1.06rem; 
  --normalFontSize: 1rem; 
   /* Font Size (Default) */
  --3d125rem: 3.125rem;
  --1d375rem: 1.375rem;
  --1d25rem: 1.25rem;
  --1d125rem: 1.125rem; 
  --1d05rem: 1.05rem; 
  --1rem: 1rem;
  --0d94rem: 0.94rem;
  --0d875rem: 0.875rem;
  --0d75rem: 0.75rem;
  --0d625rem: 0.625rem; 
}

.AdminNavbar_Container {
  background: var(--backGroundDarkColor);
  width: 100%;
  color: var(--whiteTextColor);

  .AdminNavbar_Container_Box {
    padding: 30px;

    .AdminNavbar_Container_Box_Title {
      display: flex;
      justify-content: center;
      font-size: var(--1d375rem);
      font-weight: 600;
      margin-bottom: 50px;

    }
    .AdminNavbar_Container_Box_Div {
      display: flex;
      justify-content: space-between;

      .AdminNavbar_Container_Box_Div_P {
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
        color: var(--whiteTextColor);

        &:hover {
          color: orange;
          transition: 2s easy;
        }
      }
    }
  }
}