:root {
  /* Colors and Styles (Default) */
  --backGroundDarkColor: rgb(23, 23, 22);
  --backGroundColor: rgb(44, 44, 41);
  --whiteTextColor: rgb(240, 240, 232);
  --blackTextColor: rgb(0, 0, 0);
  --requiredBlank: rgba(171, 250, 164, 0.991);
  /* Colors and Styles (Default) */
  /* Space (Default) */
  --100pxSpace: 100px;
  --50pxSpace: 50px;
  --30pxSpace: 30px;
  --20pxSpace: 20px;
  /* Font Size (Default) */
  --XXXBigFontSize: 3.125rem;
  --XBigFontSize: 1.375rem;
  --XXXLargeFontSize: 1.25rem;
  --XXLargeFontSize: 1.125rem; 
  --XLargeFontSize: 1.06rem; 
  --normalFontSize: 1rem; 
   /* Font Size (Default) */
  --3d125rem: 3.125rem;
  --1d375rem: 1.375rem;
  --1d25rem: 1.25rem;
  --1d125rem: 1.125rem; 
  --1d05rem: 1.05rem; 
  --1rem: 1rem;
  --0d94rem: 0.94rem;
  --0d875rem: 0.875rem;
  --0d75rem: 0.75rem;
  --0d625rem: 0.625rem; 
}

.AdminNavbar_Container {
  width: 100%;

  .AdminNavbar_Container_Box {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    color: var(--blackTextColor);

    .AdminNavbar_Container_Box_Title {
      display: flex;
      justify-content: center;
      font-size: var(--1d375rem); // '관리자 모드' 폰트 크기
      font-weight: 600;
      margin-bottom: 50px;
    }
    .AdminNavbar_Container_Box_Contents {
      width: 100%;
      display: flex;
      flex-direction: column;



      .AdminNavbar_Container_Box_Contents_EventBox {
        margin-bottom: 60px;

        .AdminNavbar_Container_Box_Contents_EventBox_Text {
          margin-bottom: 5px;
          font-size: var(--1d125rem); // 'Event' 폰트 크기
          font-weight: 600;
        }
        .AdminNavbar_Container_Box_Contents_EventBox_Hr {
          margin-bottom: 20px;
          border: 1.5px solid black;

        }
        .AdminNavbar_Container_Box_Contents_EventBox_Menu {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          font-size: var(--0d94rem);
          cursor: pointer;
          column-gap: 20px;

          .AdminNavbar_Container_Box_Contents_EventBox_Event_Register {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            padding-left: 10px;
            margin-bottom: 5px;
            width: 100%;
            height: 40px;
            background: lightgrey;
          }
  
          .AdminNavbar_Container_Box_Contents_EventBox_Event_Edit {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            padding-left: 10px;
            width: 100%;
            height: 40px;
            background: lightgrey;
            
          }
        }

        
      }

      .AdminNavbar_Container_Box_Contents_ProductBox {
        margin-bottom: 20px;

        .AdminNavbar_Container_Box_Contents_ProductBox_Text {
          margin-bottom: 5px;
          font-size: var(--1d125rem); // 'Products' 폰트 크기
          font-weight: 600;
        }
        .AdminNavbar_Container_Box_Contents_ProductBox_Hr {
          margin-bottom: 20px;
          border: 1.5px solid black;
        }

        .AdminNavbar_Container_Box_Contents_ProductBox_Menu {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          cursor: pointer;
          column-gap: 20px;
          font-size: var(--0d94rem);

          .AdminNavbar_Container_Box_Contents_ProductBox_Menu_Register {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            padding-left: 10px;
            margin-bottom: 5px;
            width: 100%;
            height: 40px;
            background: lightgrey;
            
          }
  
          .AdminNavbar_Container_Box_Contents_ProductBox_Menu_Edit {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            padding-left: 10px;
            width: 100%;
            height: 40px;
            background: lightgrey;
            
          }
        }
      }
    }
  }
}