:root {
  /* Colors and Styles (Default) */
  --backGroundDarkColor: rgb(23, 23, 22);
  --backGroundBlackColor: rgb(0, 0, 0);
  --backGroundColor: rgb(44, 44, 41);
  --whiteTextColor: rgb(240, 240, 232);
  --requiredBlank: rgba(171, 250, 164, 0.991);
  /* Colors and Styles (Default) */
  /* Space (Default) */
  /* Space (Default) */
  --100pxSpace: 100px;
  --50pxSpace: 50px;
  --30pxSpace: 30px;
  --20pxSpace: 20px;
  /* Font Size (Default) */
  --3d125rem: 3.125rem;
  --2d275rem: 2.375rem;
  --1d875rem: 1.875rem;
  --1d375rem: 1.375rem;
  --1d25rem: 1.25rem;
  --1d125rem: 1.125rem; 
  --1d05rem: 1.05rem; 
  --1rem: 1rem;
  --0d94rem: 0.94rem;
  --0d875rem: 0.875rem;
  --0d75rem: 0.75rem;
  --0d625rem: 0.625rem; 
}

.Navigation_Container {
  width: 100%;
  height: 80px;
  background: var(--backGroundBlackColor);
  // border: 5px solid green;

  .Navigation_Container_Box {
    height: 100%;
    align-items: center;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;



    .Navigation_Container_ImageBox01 {
      // border: 1px solid red;
      width: 50%;
  
      .Navigation_Container_ImageBox_Image01 {
        width: 60%;
        display: flex;
        text-align: center;
        align-items: center;
      }
    }

    .Navigation_Container_ImageBox02 {
      // border: 1px solid red;
      width: 20%;
  
      .Navigation_Container_ImageBox_Image02 {
        width: 50px;
        height: 50px;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translateY(-50%);
        // display: flex;
        // text-align: center;
        // align-items: center;
      }
    }

    .Navigation_Container_NavBox {
      // border: 3px solid blue;
      flex: 1;
      padding-right: 15px;
      text-align: right;
  
      .Navigation_Container_NavBox_Menu {
        // border: 1px solid red;
        text-decoration: none;
        color: var(--whiteTextColor);
        font-size: var(--1d375rem);
        cursor: pointer;
        letter-spacing: 0px;
  
        &:hover {
          transition: 1s;
          color: #FFF100;
        }
      }
    }
    .Navigation_Container_UserBox {
      // border: 3px solid red;
      width: 40px;
      height: 40px;
      border: 2px solid var(--whiteTextColor);
      border-radius: 30%;
      overflow: hidden;
      
  
      .Navigation_Container_UserBox_ImageBox {
        overflow: hidden;
        width: 100%;

        .Navigation_Container_UserBox_ImageBox_Image {
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}