:root {
  /* Colors and Styles (Default) */
  --backGroundDarkColor: rgb(23, 23, 22);
  --backGroundColor: rgb(44, 44, 41);
  --whiteTextColor: rgb(240, 240, 232);
  --requiredBlank: rgba(171, 250, 164, 0.991);
  /* Colors and Styles (Default) */
  /* Space (Default) */
  /* Space (Default) */
  --100pxSpace: 100px;
  --50pxSpace: 50px;
  --30pxSpace: 30px;
  --20pxSpace: 20px;
  /* Font Size (Default) */
  --3d125rem: 3.125rem;
  --2d275rem: 2.375rem;
  --1d875rem: 1.875rem;
  --1d375rem: 1.375rem;
  --1d25rem: 1.25rem;
  --1d125rem: 1.125rem; 
  --1d05rem: 1.05rem; 
  --1rem: 1rem;
  --0d94rem: 0.94rem;
  --0d875rem: 0.875rem;
  --0d75rem: 0.75rem;
  --0d625rem: 0.625rem; 
}


.Edit_EditForm_Container {

  .Edit_EditForm_Container_Box {
    padding: 15px;
    color: var(--blackTextColor);

    .Edit_EditForm_Container_Box_P{
      width: 100%;
      height: 150px;
      font-size: var(--2d275rem);    
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // Product Name
    .Edit_ProductName_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);
    
      .Edit_ProductName_Container_Box {
        width: 100%;
    
        .Edit_ProductName_Container_Box_P {
          font-size: var(--0d94rem);
          margin-bottom: 10px;
    
        }
        .Edit_ProductName_Container_Box_Label {
          color: var(--blackTextColor);
        }
        .Edit_ProductName_Container_Box_Input {
          border: 1px solid black;
          padding: 8px;
          width: 100%;
          height: 40px;
          font-size: var(--0d94rem);
        }
      }
    }


    // Main Product Image
    .Edit_MainProductImage_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);
    
      .Edit_MainProductImage_Container_Box {
        width: 100%;
    
        .Edit_MainProductImage_Container_Box_Asking {
          width: 100%;
          margin-bottom: var(--10pxSpace);
    
          .Edit_MainProductImage_Container_Box_Asking_P {
            font-size: var(--0d94rem);
          }
        }
    
        .Edit_MainProductImage_Container_Box_Register {
          overflow: hidden;
    
          .Edit_MainProductImage_Container_Box_Register_Image {
            border: 1px solid red;
            width: 100%;
            margin-bottom: var(--20pxSpace);
            object-fit: cover;
          }
          .Edit_MainProductImage_Container_Box_Register_Input {
            width: 100%;
            border: none;
          }
        }
      }
    }


    // Product Title
    .Edit_ProductTitle_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);
    
      .Edit_ProductTitle_Container_Box {
        width: 100%;
    
        .Edit_ProductTitle_Container_Box_P {
          font-size: var(--0d94rem);
          margin-bottom: 10px;
    
        }
        .Edit_ProductTitle_Container_Box_Label {
        }
        .Edit_ProductTitle_Container_Box_Input {
          border: 1px solid black;
          padding: 8px;
          width: 100%;
          height: 40px;
          font-size: var(--0d94rem);
        }
      }
    }


    // Product Type
    .Edit_ProductType_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);
    
      .Edit_ProductType_Container_Box {
        width: 100%;
    
        .Edit_ProductType_Container_Box_P {
          font-size: var(--0d94rem);
          margin-bottom: 10px;
    
        }
        .Edit_ProductType_Container_Box_Label {
        }
        .Edit_ProductType_Container_Box_Select {
          border: 1px solid black;
          padding: 8px;
          width: 100%;
          height: 40px;
          font-size: var(--0d94rem);
    
          .Edit_ProductType_Container_Box_Option {
            color: var(--blackTextColor);
          }
        }
      }
    }


    // Modality Products
    .Edit_ModalityProducts_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);
    
      .Edit_ModalityProducts_Container_Box {
        width: 100%;
    
        .Edit_ModalityProducts_Container_Box_P {
          font-size: var(--0d94rem);
          margin-bottom: 10px;
    
        }
        .Edit_ModalityProducts_Container_Box_Small {
          display: flex;
          margin-bottom: 5px;
    
          .Edit_ModalityProducts_Container_Box_Small_Input {
            padding: 10px;
            font-size: var(--0d94rem);
          }
          .Edit_ModalityProducts_Container_Box_Small_Label {
            margin-left: 5px;
          }
        }
      }
    }







    // Filtration 
    .Edit_ApplicationFilterProducts_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);
    
      .Edit_ApplicationFilterProducts_Container_Box {
        width: 100%;
    
        .Edit_ApplicationFilterProducts_Container_Box_P {
          font-size: var(--0d94rem);
          margin-bottom: 10px;
    
        }
        .Edit_ApplicationFilterProducts_Container_Box_Small {
          display: flex;
          margin-bottom: 5px;
    
          .Edit_ApplicationFilterProducts_Container_Box_Small_Input {
            padding: 5px;
            font-size: var(--0d94rem);
          }
          .Edit_ApplicationFilterProducts_Container_Box_Small_Label {
            margin-left: 5px;
          }
        }
        
      }
    }







    // Application : Cell Line
    .Edit_ApplicationCellLine_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);
    
      .Edit_ApplicationCellLine_Container_Box {
        width: 100%;
    
        .Edit_ApplicationCellLine_Container_Box_P {
          font-size: var(--0d94rem);
          margin-bottom: 10px;
        }
        .Edit_ApplicationCellLine_Container_Box_Small {
          display: flex;
          margin-bottom: 5px;
    
          .Edit_ApplicationCellLine_Container_Box_Small_Input {
            padding: 8px;
            font-size: var(--0d94rem);
          }
          .Edit_ApplicationCellLine_Container_Box_Small_Label {
            margin-left: 5px;
          }
        }
      }
    }






    //  Manufacture 만들어짐
    .Edit_Manufacturer_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);
    
      .Edit_Manufacturer_Container_Box {
        width: 100%;
    
        .Edit_Manufacturer_Container_Box_P {
          font-size: var(--0d94rem);
          margin-bottom: 10px;
    
        }
        .Edit_Manufacturer_Container_Box_Label {
          color: white;
    
        }
        .Edit_Manufacturer_Container_Box_Select {
          border: 1px solid black;
          padding: 8px;
          width: 100%;
          height: 40px;
          font-size: var(--0d94rem);
    
          .Edit_Manufacturer_Container_Box_Select_Option {
            color: var(--blackTextColor);
          }
        }
      }
    }


    // Description A
    .Edit_DescriptionA_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);
    
      .Edit_DescriptionA_Container_Box {
        width: 100%;
    
        .Edit_DescriptionA_Container_Box_P {
          font-size: var(--0d94rem);
          margin-bottom: 10px;
        }
        .Edit_DescriptionA_Container_Box_P_Small {
    
          .Edit_DescriptionA_Container_Box_P_Small_P {
            font-size: var(--0d94rem);
            margin-bottom: 10px;
          }
          .Edit_DescriptionA_Container_Box_P_Small_Image {
            width: 100%;
            object-fit: cover;
            border: 1px solid red;
            margin-bottom: 15px;
          }
          .Edit_DescriptionA_Container_Box_P_Small_Input1 {
            width: 100%;
            border: 1px solid black;
          }
          .Edit_DescriptionA_Container_Box_P_Small_Input2 {
            width: 100%;
            height: 40px;
            border: 1px solid black;
            padding: 8px;
          }
          .Edit_DescriptionA_Container_Box_P_Small_Textarea {
            width: 100%;
            min-height: 150px;
            border: 1px solid black;
            padding: 8px;
          }
        }
        
      }
    }



    // Description B
    .Edit_DescriptionB_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);
    
      .Edit_DescriptionB_Container_Box {
        width: 100%;
    
        .Edit_DescriptionB_Container_Box_P {
          font-size: var(--0d94rem);
          margin-bottom: 10px;
        }
        .Edit_DescriptionB_Container_Box_P_Small {
    
          .DescriptionB_Container_Box_P_Small_P {
            font-size: var(--0d94rem);
            margin-bottom: 10px;
          }
          .Edit_DescriptionB_Container_Box_P_Small_Image {
            width: 100%;
            border: 1px solid red;
            margin-bottom: 15px;
            object-fit: cover;
          }
          .Edit_DescriptionB_Container_Box_P_Small_Input1 {
            width: 100%;
            border: 1px solid black;
          }
          .Edit_DescriptionB_Container_Box_P_Small_Input2 {
            width: 100%;
            height: 40px;
            border: 1px solid black;
            padding: 8px;
          }
          .Edit_DescriptionB_Container_Box_P_Small_Textarea {
            width: 100%;
            min-height: 150px;
            border: 1px solid black;
            padding: 8px;
          }
        }
      }
    }




    // Description C
    .Edit_DescriptionC_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);
    
      .Edit_DescriptionC_Container_Box {
        width: 100%;
    
        .Edit_DescriptionC_Container_Box_P {
          font-size: var(--0d94rem);
          margin-bottom: 10px;
        }
        .Edit_DescriptionC_Container_Box_P_Small {
    
          .Edit_DescriptionC_Container_Box_P_Small_P {
            font-size: var(--0d94rem);
            margin-bottom: 10px;
          }
          .Edit_DescriptionC_Container_Box_P_Small_Image {
            width: 100%;
            border: 1px solid red;
            margin-bottom: 15px;
            object-fit: cover;
          }
          .Edit_DescriptionC_Container_Box_P_Small_Input1 {
            width: 100%;
            border: 1px solid black;
          }
          .Edit_DescriptionC_Container_Box_P_Small_Input2 {
            width: 100%;
            height: 40px;
            border: 1px solid black;
            padding: 8px;
          }
          .Edit_DescriptionC_Container_Box_P_Small_Textarea {
            width: 100%;
            min-height: 150px;
            border: 1px solid black;
            padding: 8px;
          }
        }
        
      }
    }

    // Description D
    .Edit_DescriptionD_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);
    
      .Edit_DescriptionD_Container_Box {
        width: 100%;
    
        .Edit_DescriptionD_Container_Box_P {
          font-size: var(--0d94rem);
          margin-bottom: 10px;
        }
        .Edit_DescriptionD_Container_Box_P_Small {
    
          .Edit_DescriptionD_Container_Box_P_Small_P {
            font-size: var(--0d94rem);
            margin-bottom: 10px;
          }
          .Edit_DescriptionD_Container_Box_P_Small_Image {
            width: 100%;
            border: 1px solid red;
            margin-bottom: 15px;
            object-fit: cover;
        
          }
          .Edit_DescriptionD_Container_Box_P_Small_Input1 {
            width: 100%;
            border: 1px solid black;
          }
          .Edit_DescriptionD_Container_Box_P_Small_Input2 {
            width: 100%;
            height: 40px;
            border: 1px solid black;
            padding: 8px;
          }
          .Edit_DescriptionD_Container_Box_P_Small_Textarea {
            width: 100%;
            height: 150px;
            border: 1px solid black;
            padding: 8px;
          }
        }
        
      }
    }


    // Description E
    .Edit_DescriptionE_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);
    
      .Edit_DescriptionE_Container_Box {
        width: 100%;
    
        .Edit_DescriptionE_Container_Box_P {
          font-size: var(--0d94rem);
          margin-bottom: 10px;
        }
        .Edit_DescriptionE_Container_Box_P_Small {
    
          .Edit_DescriptionE_Container_Box_P_Small_P {
            font-size: var(--0d94rem);
            margin-bottom: 10px;
          }
          .Edit_DescriptionE_Container_Box_P_Small_Image {
            width: 100%;
            border: 1px solid red;
            margin-bottom: 15px;
          }
          .Edit_DescriptionE_Container_Box_P_Small_Input1 {
            width: 100%;
            border: 1px solid black;
          }
          .Edit_DescriptionE_Container_Box_P_Small_Input2 {
            width: 100%;
            height: 40px;
            border: 1px solid black;
            padding: 8px;
          }
          .Edit_DescriptionE_Container_Box_P_Small_Textarea {
            width: 100%;
            height: 150px;
            border: 1px solid black;
            padding: 8px;
          }
        }
        
      }
    }





    // Product Related
    .Edit_ProductRelated_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);
    
      .Edit_ProductRelated_Container_Box {
        width: 100%;
    
        .Edit_ProductRelated_Container_Box_P {
          font-size: var(--0d94rem);
          margin-bottom: 30px;
        }
        .Edit_ProductRelated_Container_Box_Related {
          display: flex;
          flex-direction: column;
          width: 100%;
    
          .Edit_ProductRelated_Container_Box_Related_Text {
            margin-bottom: 10px;
            font-size: var(--0d875rem);
          }
          .Edit_ProductRelated_Container_Box_Related_Text_Key {
            border: 1px solid black;
            padding: 8px;
            width: 100%;
            height: 40px;
            font-size: var(--0d94rem);
          }
        }
      }
    }




    
    // Application Specialist
    .Edit_ApplicationSpecialist_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);
    
      .Edit_ApplicationSpecialist_Container_Box {
        width: 100%;
    
        .Edit_ApplicationSpecialist_Container_Box_P {
          font-size: var(--0d94rem);
          margin-bottom: 30px;
        }
        .Edit_ApplicationSpecialist_Container_Box_Specialist {
          width: 100%;
    
          .Edit_ApplicationSpecialist_Container_Box_Specialist_Text {
            margin-bottom: 10px;
            font-size: var(--0d875rem);
          }
          .Edit_ApplicationSpecialist_Container_Box_Specialist_Text_Name {
            border: 1px solid black;
            padding: 8px;
            width: 100%;
            height: 40px;
            font-size: var(--0d94rem);
    
          }
          .Edit_ApplicationSpecialist_Container_Box_Specialist_Text_Position {
            border: 1px solid black;
            padding: 8px;
            width: 100%;
            height: 40px;
            font-size: var(--0d94rem);
          }
          .Edit_ApplicationSpecialist_Container_Box_Specialist_Text_Mobile {
            border: 1px solid black;
            padding: 8px;
            width: 100%;
            height: 40px;
            font-size: var(--0d94rem);
          }
        }
      }
    }





    .AdvertiseDo_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);
    
      .AdvertiseDo_Container_Box{
        width: 100%;

        .AdvertiseDo_Container_Box_P{
          font-size: var(--0d94rem);
          margin-bottom: 10px;
        }
        .AdvertiseDo_Container_Box_Small {
          display: flex;
          margin-bottom: 5px;
        
          .AdvertiseDo_Container_Box_Small_Input {
            padding: 5px;
            font-size: var(--0d94rem);
          }
          .AdvertiseDo_Container_Box_Small_Label{
            margin-left: 5px;
            font-size: var(--0d94rem);
          }
        }
      }
    }




    .AdvertiseText_Container {
      width: 100%;
      margin-bottom: var(--50pxSpace);

      .AdvertiseText_Container_Box {
        width: 100%;
      
        .AdvertiseText_Container_Box_P {
          font-size: var(--0d94rem);
          margin-bottom: 10px;
        }
        .AdvertiseText_Container_Box_Label {
          color: var(--blackTextColor);
        }
        .AdvertiseText_Container_Box_Input {
          border: none;
          padding: 8px;
          width: 100%;
          height: 40px;
          font-size: var(--0d94rem);
          background: var(--requiredBlank);
        }
      }
    }
  }
}

.Edit_Submit_Button {
  display : flex;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  font-size: var(--0d94rem);
  font-weight: 500;
  letter-spacing: 3px;
  border: none;
  cursor: pointer;
}
.Edit_Cancel_Button_Box {
  width: 100%;
  justify-content: center;
  padding: 15px;
  padding-bottom: 100px;
  .Edit_Cancel_Button {
    background: lightgray;
    display : flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    font-size: var(--0d94rem);
    font-weight: 500;
    letter-spacing: 3px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--blackTextColor);
    margin-top: 10px;
  }
}