/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* !아래 overflow 적용시킬 경우 화면 밖의 것은 hidden이 되어 스크롤 되지 않는다. */
body {
  /* overflow: hidden; */
  max-width: 1080px;
  margin: 0 auto;
}

