@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sunflower:wght@300&display=swap");
:root {
  /* Colors and Styles (Default) */
  --backGroundDarkColor: rgb(23, 23, 22);
  --backGroundWhiteColor: rgb(255, 255, 255);
  --backGroundColor: rgb(44, 44, 41);
  --whiteTextColor: rgb(240, 240, 232);
  --blackTextColor: rgb(0, 0, 0);
  --requiredBlank: rgba(171, 250, 164, 0.991);
  /* Colors and Styles (Default) */
  /* Space (Default) */
  /* Space (Default) */
  --100pxSpace: 100px;
  --50pxSpace: 50px;
  --30pxSpace: 30px;
  --20pxSpace: 20px;
  /* Font Size (Default) */
  --3d125rem: 3.125rem;
  --2d275rem: 2.375rem;
  --1d875rem: 1.875rem;
  --1d375rem: 1.375rem;
  --1d25rem: 1.25rem;
  --1d125rem: 1.125rem;
  --1d05rem: 1.05rem;
  --1rem: 1rem;
  --0d94rem: 0.94rem;
  --0d875rem: 0.875rem;
  --0d75rem: 0.75rem;
  --0d625rem: 0.625rem;
}

.Filtering_V1_Container {
  width: 100%;
  height: 100%;
  background: var(--backGroundWhiteColor);
}
.Filtering_V1_Container .Filtering_V1_Container_Box {
  padding: 10px;
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Form {
  width: 100%;
  height: 100%;
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Form .Filtering_V1_Container_Box_Form_Filtering {
  color: var(--whiteTextColor);
  font-size: 14px;
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Form .Filtering_V1_Container_Box_Form_Filtering .Filtering_V1_Container_Box_Form_Filtering_Query01 {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Form .Filtering_V1_Container_Box_Form_Filtering .Filtering_V1_Container_Box_Form_Filtering_Query01 .Filtering_V1_Container_Box_Form_Filtering_Query01_Label {
  margin-bottom: 5px;
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Form .Filtering_V1_Container_Box_Form_Filtering .Filtering_V1_Container_Box_Form_Filtering_Query01 .Filtering_V1_Container_Box_Form_Filtering_Query01_Select {
  max-width: 500px;
  width: 100%;
  height: 30px;
  padding: 5px;
  border: 2px solid black;
  margin-bottom: 1px;
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Form .Filtering_V1_Container_Box_Form_Filtering .Filtering_V1_Container_Box_Form_Filtering_Query01 .Filtering_V1_Container_Box_Form_Filtering_Query01_Select .Filtering_V1_Container_Box_Form_Filtering_Query01_Options {
  color: var(--backGroundVeryDarkColor);
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Form .Filtering_V1_Container_Box_Form_Filtering .Filtering_V1_Container_Box_Form_Filtering_Search {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Form .Filtering_V1_Container_Box_Form_Filtering .Filtering_V1_Container_Box_Form_Filtering_Search .Filtering_V1_Container_Box_Form_Filtering_Search_Label {
  margin-bottom: 5px;
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Form .Filtering_V1_Container_Box_Form_Filtering .Filtering_V1_Container_Box_Form_Filtering_Search .Filtering_V1_Container_Box_Form_Filtering_Search_Box {
  display: flex;
  width: 100%;
  max-width: 500px;
  height: 30px;
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Form .Filtering_V1_Container_Box_Form_Filtering .Filtering_V1_Container_Box_Form_Filtering_Search .Filtering_V1_Container_Box_Form_Filtering_Search_Box .Filtering_V1_Container_Box_Form_Filtering_Search_Input {
  max-width: 500px;
  flex-basis: 75%;
  padding: 5px;
  color: var(--backGroundColor);
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Form .Filtering_V1_Container_Box_Form_Filtering .Filtering_V1_Container_Box_Form_Filtering_Search .Filtering_V1_Container_Box_Form_Filtering_Search_Box .Filtering_V1_Container_Box_Form_Filtering_Search_Input::placeholder {
  color: var(--blackTextColor);
  font-weight: 600;
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Form .Filtering_V1_Container_Box_Form_Filtering .Filtering_V1_Container_Box_Form_Filtering_Search .Filtering_V1_Container_Box_Form_Filtering_Search_Box .Filtering_V1_Container_Box_Form_Filtering_Search_Button {
  flex-basis: 25%;
  padding: 5px;
  font-weight: 500;
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Form .Filtering_V1_Container_Box_Form_Filtering .Filtering_V1_Container_Box_Form_Filtering_Reset {
  display: flex;
  width: 100%;
  max-width: 500px;
  height: 40px;
  margin-bottom: 20px;
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Form .Filtering_V1_Container_Box_Form_Filtering .Filtering_V1_Container_Box_Form_Filtering_Reset .Filtering_V1_Container_Box_Form_Filtering_Reset_Box {
  width: 100%;
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Form .Filtering_V1_Container_Box_Form_Filtering .Filtering_V1_Container_Box_Form_Filtering_Reset .Filtering_V1_Container_Box_Form_Filtering_Reset_Box .Filtering_V1_Container_Box_Form_Filtering_Reset_Button {
  width: 100%;
  height: 100%;
  font-size: var(--1d05rem);
  font-weight: 600;
  letter-spacing: 2px;
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Form .Filtering_V1_Container_Box_Form_Filtering_Button {
  width: 150px;
  height: 30px;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  display: none;
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Count {
  width: 100%;
  height: 60px;
  color: var(--whiteTextColor);
  padding: 20px;
  background: var(--backGroundVeryDarkColor);
  margin-top: 20px;
}
.Filtering_V1_Container .Filtering_V1_Container_Box .Filtering_V1_Container_Box_Count .Filtering_V1_Container_Box_Count_Text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blackTextColor);
}

@keyframes fading02 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=Filtering_V1.css.map */